/* font-family: "GothamProRegular"; */
@font-face {
  font-family: "GothamProRegular";
  src: url("../fonts/GothamProRegular/GothamProRegular.eot");
  src: url("../fonts/GothamProRegular/GothamProRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamProRegular/GothamProRegular.woff") format("woff"), url("../fonts/GothamProRegular/GothamProRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

/* font-family: "GothamProBold"; */
@font-face {
  font-family: "GothamProBold";
  src: url("../fonts/GothamProBold/GothamProBold.eot");
  src: url("../fonts/GothamProBold/GothamProBold.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamProBold/GothamProBold.woff") format("woff"), url("../fonts/GothamProBold/GothamProBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

/* font-family: "GothamProMedium"; */
@font-face {
  font-family: "GothamProMedium";
  src: url("../fonts/GothamProMedium/GothamProMedium.eot");
  src: url("../fonts/GothamProMedium/GothamProMedium.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamProMedium/GothamProMedium.woff") format("woff"), url("../fonts/GothamProMedium/GothamProMedium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

/* font-family: "GothamProLight"; */
@font-face {
  font-family: "GothamProLight";
  src: url("../fonts/GothamProLight/GothamProLight.eot");
  src: url("../fonts/GothamProLight/GothamProLight.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamProLight/GothamProLight.woff") format("woff"), url("../fonts/GothamProLight/GothamProLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

/* font-family: "GothamProLightItalic"; */
@font-face {
  font-family: "GothamProLightItalic";
  src: url("../fonts/GothamProLightItalic/GothamProLightItalic.eot");
  src: url("../fonts/GothamProLightItalic/GothamProLightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamProLightItalic/GothamProLightItalic.woff") format("woff"), url("../fonts/GothamProLightItalic/GothamProLightItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-send:before {
  content: "\e904"; }

.icon-cart:before {
  content: "\e900"; }

.icon-search:before {
  content: "\e901"; }

.icon-user:before {
  content: "\e902"; }

.icon-smartphone:before {
  content: "\e903"; }

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/fonts/icomoon.eot");
  src: url("../fonts/icomoon/fonts/icomoon.eot#iefix") format("embedded-opentype"), url("../fonts/icomoon/fonts/icomoon.ttf") format("truetype"), url("../fonts/icomoon/fonts/icomoon.woff") format("woff"), url("../fonts/icomoon/fonts/icomoon.svg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

.icon-sprite {
  font-family: 'icomoon';
  display: inline-block; }

.icon-dev-logo {
  background-image: url(../img/png_sprite/sprite.png);
  background-position: 0px 0px;
  width: 131px;
  height: 23px; }

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%; }

body {
  background-color: #fff;
  color: #282832;
  font-size: 14px;
  font-family: "GothamProLight", sans-serif;
  line-height: 1.714;
  min-height: 100%;
  width: 100%;
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  min-width: 320px;
  padding-right: 0 !important; }

p {
  padding: 0;
  margin: 0; }

a {
  color: inherit;
  outline: none; }

div, ul, li, button, input, textarea {
  outline: none; }

button {
  padding: 0;
  margin: 0; }

h1, h2, h3, h4, h5, h6 {
  font-family: "GothamProBold", sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1; }

h1 {
  font-size: 32px; }

h2 {
  font-size: 24px; }

h3 {
  font-size: 18px; }

h4 {
  font-size: 16px; }

.subtitle, .bold-text {
  font-family: "GothamProBold", sans-serif; }

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0; }

input, textarea {
  padding: 0 10px; }
  ::-webkit-input-placeholder {
    font-size: 13px;
    color: #63636d;
    text-indent: 0;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease; }
  :-moz-placeholder {
    font-size: 13px;
    color: #63636d;
    text-indent: 0;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease; }
  ::-moz-placeholder {
    font-size: 13px;
    color: #63636d;
    text-indent: 0;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease; }
  :-ms-input-placeholder {
    font-size: 13px;
    color: #63636d;
    text-indent: 0;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease; }

input:focus::-webkit-input-placeholder {
  opacity: 0;
  text-indent: 10px; }

input:focus:-moz-placeholder {
  opacity: 0;
  text-indent: 10px; }

input:focus::-moz-placeholder {
  opacity: 0;
  text-indent: 10px; }

input:focus:-ms-input-placeholder {
  opacity: 0;
  text-indent: 10px; }

textarea:focus::-webkit-input-placeholder {
  opacity: 0;
  text-indent: 10px; }

textarea:focus:-moz-placeholder {
  opacity: 0;
  text-indent: 10px; }

textarea:focus::-moz-placeholder {
  opacity: 0;
  text-indent: 10px; }

textarea:focus:-ms-input-placeholder {
  opacity: 0;
  text-indent: 10px; }

.btn {
  border: 0;
  background: transparent;
  color: inherit;
  font-family: "GothamProBold", sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  text-align: center;
  position: relative;
  display: inline-block;
  -webkit-transition: .3s ease;
  transition: .3s ease; }

.btn-md {
  padding: 15px 15px 12px; }

.btn--gray {
  color: #404046;
  background-color: #d6dde1; }
  .btn--gray:hover {
    background-color: #dfe1e7; }

.btn--accent {
  color: #fff;
  background-color: #ea6924;
  -webkit-transition: .3s ease;
  transition: .3s ease; }
  .btn--accent:hover {
    background-color: #fb7933; }

.btn-md--white-border {
  border: 1px solid #fff;
  padding: 15px 15px 13px; }

.list-inline li {
  display: inline-block;
  margin: 0 -2px; }

.slick-arrow {
  z-index: 1;
  color: transparent;
  background: none;
  border: none; }
  .slick-arrow:after {
    content: "";
    display: block;
    border-top: 1px solid #363740;
    border-right: 1px solid #363740; }
  .slick-arrow:hover:after {
    border-color: #ea6924; }
  .slick-arrow.slick-next:after {
    -webkit-transform: rotateZ(45deg);
        -ms-transform: rotate(45deg);
            transform: rotateZ(45deg); }
  .slick-arrow.slick-prev:after {
    -webkit-transform: rotateZ(225deg);
        -ms-transform: rotate(225deg);
            transform: rotateZ(225deg); }

.text-center {
  text-align: center; }

.block-subtitle {
  font-size: 14px;
  color: #7b8287; }

body:after {
  content: '';
  height: 425px;
  display: block; }

.site-footer {
  background-color: #282832;
  color: #fff;
  height: 425px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden; }
  .site-footer__title {
    padding-top: 50px;
    font-size: 17px;
    border-bottom: 1px solid #ea6924;
    padding-bottom: 15px;
    margin-bottom: 30px; }
  .site-footer__list {
    font-size: 13px;
    font-family: "GothamProRegular", sans-serif;
    -webkit-column-count: 2;
       -moz-column-count: 2;
            column-count: 2;
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px; }
    .site-footer__list li {
      margin-bottom: 10px;
      line-height: 1.5; }
    .site-footer__list a {
      text-decoration: underline;
      color: #aeaeb9; }
      .site-footer__list a:hover {
        text-decoration: none; }
  .site-footer__right-block {
    background-color: #33333e;
    height: 425px;
    padding-left: 28px;
    position: relative;
    z-index: 10; }
    .site-footer__right-block:after {
      content: "";
      display: block;
      height: 100%;
      width: 9999px;
      position: absolute;
      top: 0;
      left: 99%;
      background-color: #33333e; }
    .site-footer__right-block .footer-text {
      font-family: "GothamProRegular", sans-serif;
      font-size: 13px;
      line-height: 1.5;
      margin-bottom: 15px; }
    .site-footer__right-block .footer-span {
      font-family: "GothamProRegular", sans-serif;
      font-size: 13px;
      color: #aeaeb9;
      margin-right: 7px; }
  .site-footer__tel-block {
    margin-bottom: 15px; }
    .site-footer__tel-block a {
      color: #fff; }
  .site-footer__address-block span {
    color: #fff;
    margin-right: 5px; }
  .site-footer__address-block address {
    display: inline;
    color: #aeaeb9;
    font-style: normal; }
  .site-footer__mail-block span {
    color: #fff;
    margin-right: 5px; }
  .site-footer__mail-block a {
    color: #ea6924; }
  .site-footer__copyright-block {
    margin-top: 25px; }
  .site-footer__develop-block {
    padding: 10px 0; }
    .site-footer__develop-block .icon-sprite {
      position: relative;
      top: 4px; }

@media (max-width: 991px) {
  body:after {
    height: 500px; }
  .site-footer {
    height: 500px; }
    .site-footer__right-block {
      height: 500px;
      padding-left: 17px;
      margin-left: -15px; }
      .site-footer__right-block:after {
        left: 100%; }
      .site-footer__right-block .footer-text, .site-footer__right-block .footer-span {
        font-size: 12px; }
    .site-footer__title {
      padding-top: 40px;
      font-size: 16px;
      padding-bottom: 13px;
      margin-bottom: 25px; }
    .site-footer__list {
      font-size: 12px;
      -webkit-column-count: 1;
         -moz-column-count: 1;
              column-count: 1;
      -webkit-column-gap: 0;
         -moz-column-gap: 0;
              column-gap: 0; }
    .site-footer__develop-block .footer-span {
      margin-right: 0; } }

@media (max-width: 767px) {
  body:after {
    height: auto; }
  .site-footer {
    height: auto;
    position: relative;
    padding-top: 25px; }
    .site-footer__right-block {
      height: auto;
      background-color: transparent; }
      .site-footer__right-block:after {
        content: none; }
    .site-footer__title {
      padding: 11px 25px 12px 15px;
      font-size: 15px;
      margin-bottom: 13px;
      background-color: #33333e;
      border-bottom: 0;
      cursor: pointer;
      pointer-events: all;
      position: relative; }
      .site-footer__title:after {
        content: "";
        display: block;
        height: 7px;
        width: 7px;
        border-top: 1px solid #fff;
        border-right: 1px solid #fff;
        -webkit-transform: rotateZ(135deg);
            -ms-transform: rotate(135deg);
                transform: rotateZ(135deg);
        position: absolute;
        top: 50%;
        right: 15px;
        margin-top: -4px;
        -webkit-transition: .3s ease;
        transition: .3s ease; }
      .site-footer__title.rotate:after {
        -webkit-transform: rotateZ(315deg);
            -ms-transform: rotate(315deg);
                transform: rotateZ(315deg); }
    .site-footer__list {
      display: none;
      padding-left: 10px; }
    .site-footer__inform-block {
      display: none;
      padding-left: 10px; }
    .site-footer__develop-block {
      text-align: center; }
      .site-footer__develop-block .footer-span {
        margin-right: 5px; }
    .site-footer__copyright-block {
      margin-top: 0;
      text-align: center;
      padding: 10px 0 15px; } }

.site-header-top {
  background-color: #282832;
  padding: 12px 0; }
  .site-header-top__prev {
    float: left;
    color: #fff;
    font-family: "GothamProMedium", sans-serif;
    font-size: 13px;
    line-height: 1.4; }
  .site-header-top__nav {
    float: right;
    color: #b1b1bf;
    font-size: 12px; }
    .site-header-top__nav a {
      color: inherit; }
      .site-header-top__nav a:hover {
        color: #fff;
        text-decoration: underline; }
    .site-header-top__nav li {
      display: inline-block;
      margin-right: 30px;
      float: left; }
      .site-header-top__nav li:last-child {
        margin-right: 0; }

.site-header-menu__bottom {
  background-color: #ea6924;
  height: 60px; }

.main-drop-mnu {
  display: inline-block;
  margin: 0 -2px;
  position: relative;
  color: #fff;
  width: 20%;
  vertical-align: top;
  height: 60px; }
  .main-drop-mnu .for-tablet {
    display: none; }
  .main-drop-mnu a {
    height: 60px;
    display: block;
    background-color: #d15411;
    font-family: "GothamProBold", sans-serif;
    font-size: 15px;
    padding: 18px 0 15px 70px; }
    .main-drop-mnu a .burger-menu {
      display: block;
      height: 20px;
      position: absolute;
      top: 23px;
      left: 30px; }
      .main-drop-mnu a .burger-menu span {
        display: block;
        height: 2px;
        background-color: #fff;
        margin-bottom: 5px; }
        .main-drop-mnu a .burger-menu span:nth-child(1) {
          width: 17px; }
        .main-drop-mnu a .burger-menu span:nth-child(2) {
          width: 25px; }
        .main-drop-mnu a .burger-menu span:nth-child(3) {
          width: 20px; }
  .main-drop-mnu__item {
    display: none; }

.main-mnu {
  width: 80%;
  display: inline-block;
  margin: 0 -2px;
  color: #fff;
  font-size: 15px;
  font-family: "GothamProBold", sans-serif;
  text-align: center;
  vertical-align: top;
  height: 60px; }
  .main-mnu li {
    border-right: 1px solid #ed7f45;
    height: 100%;
    width: 20%;
    margin: 0 -2px; }
    .main-mnu li a {
      display: block;
      height: 100%;
      line-height: 60px;
      -webkit-transition: .3s ease;
      transition: .3s ease; }
      .main-mnu li a:hover {
        background-color: #f47029; }

.main-logo {
  display: inline-block;
  width: 25%;
  margin: 0 -2px;
  padding: 19px 0; }
  .main-logo a {
    display: inline-block;
    height: 100%; }

.main-connect {
  display: inline-block;
  margin: 0 -2px;
  width: 40%;
  font-size: 20px;
  vertical-align: middle;
  padding: 10px 0; }
  .main-connect .dropdown-menu {
    right: -25px;
    padding: 15px 0;
    margin: 0;
    font-size: 17px;
    background-color: #eef2f6;
    border: 0;
    -webkit-border-radius: 0;
            border-radius: 0; }
  .main-connect .dropdown-menu > li > a {
    color: inherit;
    -webkit-transition: .3s ease;
    transition: .3s ease;
    text-align: center; }
  .main-connect .dropdown-menu > li > a:focus, .main-connect .dropdown-menu > li > a:hover {
    text-decoration: none;
    color: inherit;
    background-color: #e1e5e9; }
  .main-connect .dropdown {
    display: inline-block;
    margin-right: 50px; }
    .main-connect .dropdown > a {
      color: #000;
      position: relative; }
      .main-connect .dropdown > a:after {
        content: '';
        display: block;
        height: 7px;
        width: 7px;
        border-top: 1px solid #ea6924;
        border-right: 1px solid #ea6924;
        position: absolute;
        top: 50%;
        right: -20px;
        margin-top: -6px;
        -webkit-transform: rotateZ(135deg);
            -ms-transform: rotate(135deg);
                transform: rotateZ(135deg);
        -webkit-transition: .3s ease;
        transition: .3s ease; }
    .main-connect .dropdown.open a:after {
      margin-top: -3px;
      -webkit-transform: rotateZ(315deg);
          -ms-transform: rotate(315deg);
              transform: rotateZ(315deg); }
  .main-connect__callback {
    display: inline-block; }
    .main-connect__callback .btn {
      width: 200px;
      letter-spacing: 1px; }

.main-nav {
  float: right;
  width: 32%; }
  .main-nav-item {
    display: inline-block;
    border-left: 1px solid #eaeaeb;
    height: 98px;
    vertical-align: middle;
    position: relative;
    margin: 0 -3px; }
    .main-nav-item a {
      -webkit-transition: .3s ease;
      transition: .3s ease;
      display: block;
      height: 100%;
      position: relative; }
      .main-nav-item a:hover {
        background-color: #f0f3f6; }
    .main-nav-item .icon-font {
      color: #282832; }
    .main-nav-item:last-child {
      border-right: 1px solid #eaeaeb; }
    .main-nav-item__search {
      width: 200px; }
      .main-nav-item__search .search-label {
        font-size: 13px;
        color: #7d7e83;
        line-height: 98px;
        padding-left: 25px; }
      .main-nav-item__search .icon-search {
        font-size: 33px;
        position: absolute;
        top: 50%;
        margin-top: -19px;
        right: 22px; }
    .main-nav-item__sign .icon-user {
      font-size: 35px;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -19px;
      margin-left: -18px; }
    .main-nav-item__cart .icon-cart {
      font-size: 35px;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -19px;
      margin-left: -18px; }
    .main-nav-item__cart .cart-goods-counter {
      position: absolute;
      top: 10px;
      right: 10px;
      background-color: #eaeaeb;
      display: inline-block;
      padding: 2px 4px;
      line-height: 1;
      font-family: "GothamProBold", sans-serif;
      font-size: 13px; }
      .main-nav-item__cart .cart-goods-counter:after {
        content: "";
        width: 0;
        height: 0;
        border-bottom: 5px solid #c7c7cd;
        border-right: 5px solid transparent;
        position: absolute;
        bottom: 0;
        left: 0; }

.main-nav-item__sign,
.main-nav-item__cart {
  width: 100px; }
  .main-nav-item__sign a,
  .main-nav-item__cart a {
    position: relative;
    overflow: hidden; }

@media (max-width: 1279px) {
  .site-header-top__nav li {
    margin-right: 20px; }
  .main-nav {
    width: 35%; }
  .main-nav-item__search {
    width: 190px; }
  .main-nav-item__sign, .main-nav-item__cart {
    width: 73px; }
  .main-connect .dropdown {
    margin-right: 0;
    width: 100%;
    line-height: 1.3; }
  .main-connect .dropdown-menu {
    max-width: 230px; }
  .main-connect__callback .btn.btn--gray {
    line-height: 1.2;
    width: auto;
    padding: 0;
    background-color: transparent;
    color: #ea6924;
    font-size: 11px;
    border-bottom: 1px dotted #ea6924; }
  .main-connect__callback {
    display: inline-block;
    position: relative;
    line-height: 1;
    top: -10px; }
  .main-connect {
    padding: 10px 0 0;
    font-size: 18px; }
  .for-desktop {
    display: none; }
  .main-drop-mnu .for-tablet {
    display: inline; }
  .main-mnu {
    display: none; }
  .main-drop-mnu {
    width: 100%; }
    .main-drop-mnu a {
      background-color: #ea6924;
      text-align: center;
      padding-left: 0; }
      .main-drop-mnu a .burger-menu {
        left: 0; } }

@media (max-width: 991px) {
  .site-header-top {
    display: none; } }

.top-slider .slick-slide {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover; }

.top-slider__item {
  height: 500px;
  padding-top: 80px;
  position: relative; }
  .top-slider__item .subImage {
    position: absolute;
    top: 0;
    right: 0; }
  .top-slider__item--title {
    font-size: 38px;
    font-family: "GothamProLight", sans-serif;
    background-color: #282832;
    color: #fff;
    display: inline-block;
    line-height: 1.158;
    padding: 30px;
    letter-spacing: 4px;
    margin-bottom: 30px; }
  .top-slider__item--text {
    max-width: 500px;
    margin-left: 35px;
    font-size: 15px;
    margin-bottom: 25px; }
  .top-slider__item--link {
    font-size: 12px;
    color: #404046;
    border: 1px solid #9b9ba6;
    width: 230px;
    padding: 12px 0 10px;
    margin-left: 35px; }

.top-slider .slick-arrow {
  position: absolute;
  top: 50%;
  margin-top: -47px;
  height: 30px;
  width: 30px; }
  .top-slider .slick-arrow:after {
    border-top: 1px solid #363740;
    border-right: 1px solid #363740;
    height: 30px;
    width: 30px;
    -webkit-transition: .3s ease;
    transition: .3s ease; }
  .top-slider .slick-arrow.slick-next {
    right: 84px; }
  .top-slider .slick-arrow.slick-prev {
    left: 25px; }
  .top-slider .slick-arrow:hover {
    border-color: #ea6924; }
    .top-slider .slick-arrow:hover:after {
      border-color: #ea6924; }

.top-slider .slick-dots {
  text-align: center;
  padding: 15px 0 35px; }
  .top-slider .slick-dots li {
    display: inline-block;
    margin: 0 5px; }
    .top-slider .slick-dots li button {
      border: 1px solid #d4d4d4;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      background: #fff;
      color: transparent;
      -webkit-transition: .3s ease;
      transition: .3s ease;
      overflow: hidden;
      width: 11px;
      height: 11px; }
    .top-slider .slick-dots li.slick-active button {
      border-color: #ea6924;
      background-color: #ea6924; }

.remedies {
  margin-bottom: 60px; }
  .remedies-list {
    border-right: 1px solid #e5e5e7;
    border-bottom: 1px solid #e5e5e7;
    font-family: "GothamProMedium", sans-serif;
    font-size: 15px; }
  .remedies-item {
    display: inline-block;
    margin: 0 -2px;
    width: 16.6666%;
    text-align: center;
    vertical-align: top;
    height: 210px;
    border-top: 1px solid #e5e5e7;
    border-left: 1px solid #e5e5e7; }
    .remedies-item span {
      display: block;
      line-height: 1.4; }
    .remedies-item a {
      display: block;
      height: 100%;
      -webkit-transition: .3s ease;
      transition: .3s ease;
      position: relative; }
      .remedies-item a:after {
        content: '';
        display: block;
        border: 1px solid transparent;
        position: absolute;
        top: -1px;
        left: -1px;
        right: -1px;
        bottom: -1px;
        -webkit-transition: .3s ease;
        transition: .3s ease;
        z-index: 1; }
      .remedies-item a:hover {
        color: #ea6924; }
        .remedies-item a:hover:after {
          border-color: #ea6924; }
    .remedies-item__image {
      height: 145px;
      position: relative; }
      .remedies-item__image object {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        margin: auto; }

@media (max-width: 1279px) {
  .remedies-item {
    width: 25%; } }

@media (max-width: 991px) {
  .remedies-item {
    height: 170px;
    font-size: 14px; }
  .remedies-item__image {
    height: 120px;
    position: relative; } }

@media (max-width: 767px) {
  .remedies-item {
    width: 50%;
    height: 43vw;
    font-size: 13px; }
  .remedies-item__image {
    height: 33vw;
    position: relative; }
  .remedies-item span {
    line-height: 1; } }

.block-with-back {
  background-color: #eff2f4;
  padding: 45px 0 60px;
  overflow: hidden; }
  .block-with-back__title {
    margin-bottom: 35px; }
    .block-with-back__title .block-title {
      margin-bottom: 3px;
      font-size: 32px; }
  .block-with-back__link {
    padding: 40px 0 0; }
    .block-with-back__link .btn {
      position: relative;
      width: 200px;
      color: #282832; }
      .block-with-back__link .btn span {
        position: relative;
        margin-right: 8px; }
        .block-with-back__link .btn span:after {
          content: "";
          display: block;
          width: 7px;
          height: 7px;
          border-top: 1px solid #282832;
          border-right: 1px solid #282832;
          position: absolute;
          top: 3px;
          right: -13px;
          -webkit-transform: rotateZ(45deg);
              -ms-transform: rotate(45deg);
                  transform: rotateZ(45deg); }

.block-no-back {
  padding: 70px 0; }

.goods {
  background-color: #fff;
  border-right: 1px solid #d0d5d9;
  position: relative; }
  .goods:hover .goods-prop__name a {
    text-decoration: underline; }
  .goods:after {
    content: "";
    display: block;
    position: absolute;
    left: -1px;
    top: 0;
    width: 1px;
    height: 100%;
    z-index: 103;
    -webkit-transition: .3s ease;
    transition: .3s ease; }
  .goods:hover {
    border-color: #ea6924; }
    .goods:hover:after {
      background-color: #ea6924; }

.goods-prop {
  text-align: center;
  padding: 20px 35px 30px; }
  .goods-prop__name {
    font-family: "GothamProBold", sans-serif;
    font-size: 15px;
    margin-bottom: 15px; }

.goods-price {
  font-family: "GothamProRegular", sans-serif;
  margin-bottom: 15px; }
  .goods-price__old {
    color: #8a9298;
    margin-right: 10px; }
  .goods-price__current {
    color: #ea6924; }

.goods-show-more .btn {
  display: block;
  color: #404046;
  border: 1px solid #d0d5d9;
  padding: 14px 16px 11px;
  -webkit-transition: .3s ease;
  transition: .3s ease; }
  .goods-show-more .btn:hover {
    background-color: #ea6924;
    border-color: #ea6924;
    color: #fff; }

.goods-image {
  height: 275px;
  position: relative;
  overflow: hidden;
  margin-top: 10px; }
  .goods-image a {
    display: block;
    height: 100%; }
  .goods-image img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }

.four-item-slider {
  position: relative;
  overflow: hidden; }
  .four-item-slider:after {
    content: "";
    display: block;
    height: 100%;
    width: 1px;
    background-color: #d0d5d9;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100; }
  .four-item-slider:before {
    content: "";
    display: block;
    height: 100%;
    width: 1px;
    background-color: #d0d5d9;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100; }
  .four-item-slider .goods {
    display: inline-block;
    border-top: 1px solid #d0d5d9;
    border-bottom: 1px solid #d0d5d9; }
    .four-item-slider .goods:hover {
      border-color: #ea6924; }
  .four-item-slider .slick-arrow {
    position: absolute;
    top: 45%;
    height: 90px;
    width: 90px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    background-color: #edc9b5;
    z-index: 102; }
    .four-item-slider .slick-arrow:after {
      height: 30px;
      width: 30px;
      z-index: 101;
      position: absolute;
      top: 30px; }
    .four-item-slider .slick-arrow.slick-next {
      right: -47px; }
      .four-item-slider .slick-arrow.slick-next:after {
        left: 5px; }
    .four-item-slider .slick-arrow.slick-prev {
      left: -47px; }
      .four-item-slider .slick-arrow.slick-prev:after {
        right: 5px; }

.our-services__all {
  display: inline-block;
  background-color: #ea6924;
  width: 33.333333%;
  height: 210px;
  margin: 0 -2px;
  color: #fff;
  text-align: center;
  padding-top: 55px; }
  .our-services__all--title {
    font-size: 26px;
    font-family: "GothamProBold", sans-serif;
    margin-bottom: 30px; }
  .our-services__all .btn {
    width: 230px;
    -webkit-transition: .3s ease;
    transition: .3s ease;
    color: #fff; }
    .our-services__all .btn span {
      position: relative;
      margin-right: 8px; }
      .our-services__all .btn span:after {
        content: "";
        display: block;
        width: 7px;
        height: 7px;
        border-top: 1px solid #fff;
        border-right: 1px solid #fff;
        position: absolute;
        top: 3px;
        right: -13px;
        -webkit-transform: rotateZ(45deg);
            -ms-transform: rotate(45deg);
                transform: rotateZ(45deg); }
    .our-services__all .btn:hover {
      background-color: #fff;
      color: #282832; }
      .our-services__all .btn:hover span:after {
        border-color: #282832; }

.our-services__list {
  display: inline; }
  .our-services__list li {
    display: inline-block;
    width: 33.333333%;
    height: 210px;
    margin: 0px -2px;
    overflow: hidden;
    vertical-align: top;
    position: relative;
    cursor: pointer; }
    .our-services__list li img {
      max-width: 100%;
      height: auto;
      width: 100%; }
    .our-services__list li a {
      display: block;
      height: 100%; }
    .our-services__list li a:before {
      content: "";
      display: block;
      top: 10px;
      position: absolute;
      left: 10px;
      right: 10px;
      bottom: 10px;
      border: 1px solid transparent;
      -webkit-transition: .7s ease;
      transition: .7s ease; }
    .our-services__list li span {
      position: absolute;
      color: #fff;
      font-size: 19px;
      font-family: "GothamProBold", sans-serif;
      display: inline-block;
      line-height: 1.4;
      z-index: 2;
      -webkit-transition: .2s ease-in-out;
      transition: .2s ease-in-out; }
    .our-services__list li:after {
      content: '';
      display: block;
      height: 500px;
      width: 500px;
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.3); }
    .our-services__list li:before {
      content: "";
      display: block;
      width: 300px;
      height: 2px;
      background-color: #ea6924;
      position: absolute;
      right: 0; }
    .our-services__list li:hover span {
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      text-align: center; }
    .our-services__list li:hover a:before {
      border-color: #9e9da1; }
  .our-services__list .slick-arrow {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    -webkit-border-radius: 50%;
            border-radius: 50%;
    background-color: #282832;
    opacity: 0.702;
    width: 60px;
    height: 60px; }
    .our-services__list .slick-arrow:hover:after {
      border-color: #ea6924; }
    .our-services__list .slick-arrow.slick-next {
      right: -30px; }
      .our-services__list .slick-arrow.slick-next:after {
        position: absolute;
        top: 20px;
        left: 2px; }
    .our-services__list .slick-arrow.slick-prev {
      left: -30px; }
      .our-services__list .slick-arrow.slick-prev:after {
        position: absolute;
        top: 20px;
        right: 2px; }
  .our-services__list .slick-arrow:after {
    width: 20px;
    height: 20px;
    z-index: 1;
    border-color: #e4e4e5; }
  .our-services__list .slick-dots {
    text-align: center;
    margin: 8px 5px 0;
    vertical-align: middle; }
    .our-services__list .slick-dots li {
      width: auto;
      height: auto;
      margin: 0 5px; }
      .our-services__list .slick-dots li:before {
        content: none; }
      .our-services__list .slick-dots li:after {
        content: none; }
      .our-services__list .slick-dots li.slick-active button {
        border-color: #ea6924;
        background-color: #ea6924; }
      .our-services__list .slick-dots li button {
        border: 1px solid #d4d4d4;
        -webkit-border-radius: 50%;
                border-radius: 50%;
        background: #fff;
        color: transparent;
        -webkit-transition: .3s ease;
        transition: .3s ease;
        overflow: hidden;
        width: 11px;
        height: 11px; }
  .our-services__list--itemTop span {
    top: 25px;
    left: 30px;
    max-width: 180px; }
  .our-services__list--itemTop:after {
    -webkit-transform: rotate(-50deg) translate(13%, -75%);
        -ms-transform: rotate(-50deg) translate(13%, -75%);
            transform: rotate(-50deg) translate(13%, -75%);
    -webkit-transition: .4s ease-in-out;
    transition: .4s ease-in-out; }
  .our-services__list--itemTop:before {
    -webkit-transform: rotate(-50deg) translate(-70%, 35px);
        -ms-transform: rotate(-50deg) translate(-70%, 35px);
            transform: rotate(-50deg) translate(-70%, 35px);
    top: 0;
    -webkit-transition: .4s ease-in-out;
    transition: .4s ease-in-out; }
  .our-services__list--itemTop:hover:after {
    -webkit-transform: rotate(-50deg) translate(16%, -30%);
        -ms-transform: rotate(-50deg) translate(16%, -30%);
            transform: rotate(-50deg) translate(16%, -30%); }
  .our-services__list--itemTop:hover:before {
    -webkit-transform: rotate(-50deg) translate(-18%, 250px);
        -ms-transform: rotate(-50deg) translate(-18%, 250px);
            transform: rotate(-50deg) translate(-18%, 250px); }
  .our-services__list--itemBottom span {
    text-align: right;
    bottom: 25px;
    right: 25px;
    max-width: 245px; }
  .our-services__list--itemBottom:after {
    -webkit-transform: rotate(130deg) translate(-12%, -25%);
        -ms-transform: rotate(130deg) translate(-12%, -25%);
            transform: rotate(130deg) translate(-12%, -25%);
    -webkit-transition: .4s ease;
    transition: .4s ease; }
  .our-services__list--itemBottom:before {
    -webkit-transform: rotate(-50deg) translate(50%, -115px);
        -ms-transform: rotate(-50deg) translate(50%, -115px);
            transform: rotate(-50deg) translate(50%, -115px);
    bottom: 0;
    -webkit-transition: .4s ease;
    transition: .4s ease; }
  .our-services__list--itemBottom:hover:after {
    -webkit-transform: rotate(130deg) translate(-12%, 104px);
        -ms-transform: rotate(130deg) translate(-12%, 104px);
            transform: rotate(130deg) translate(-12%, 104px); }
  .our-services__list--itemBottom:hover:before {
    -webkit-transform: rotate(-50deg) translate(-20%, -344px);
        -ms-transform: rotate(-50deg) translate(-20%, -344px);
            transform: rotate(-50deg) translate(-20%, -344px); }

.main-news-item__image {
  width: 210px;
  height: 180px;
  float: left;
  position: relative; }
  .main-news-item__image time {
    font-size: 11px;
    display: inline-block;
    line-height: 1;
    color: #fff;
    background-color: #ea6924;
    position: absolute;
    top: 0;
    left: 5px;
    width: 30px;
    padding: 6px 0 1px;
    text-align: center; }
    .main-news-item__image time:after {
      content: "";
      position: absolute;
      bottom: -16px;
      left: 0;
      width: 0;
      height: 0;
      border-top: 18px solid #ea6924;
      border-right: 18px solid transparent; }
    .main-news-item__image time:before {
      content: "";
      position: absolute;
      bottom: -16px;
      right: 0;
      width: 0;
      height: 0;
      border-top: 18px solid #ea6924;
      border-left: 18px solid transparent; }
    .main-news-item__image time .bold-text {
      font-size: 18px;
      display: block;
      line-height: 1; }
  .main-news-item__image img {
    max-width: 100%;
    height: auto;
    vertical-align: middle; }
  .main-news-item__image a {
    display: block;
    height: 100%; }

.main-news-item__prop {
  margin-left: 235px; }
  .main-news-item__prop--title {
    font-size: 15px;
    font-family: "GothamProBold", sans-serif;
    display: inline-block;
    line-height: 1.4;
    max-height: 65px;
    overflow: hidden;
    text-overflow: ellipsis; }
    .main-news-item__prop--title:hover {
      text-decoration: underline; }
  .main-news-item__prop--text {
    color: #63636d;
    font-size: 13px;
    max-height: 90px;
    overflow: hidden;
    text-overflow: ellipsis; }
  .main-news-item__prop--link {
    color: #ea6924;
    text-decoration: underline;
    font-family: "GothamProRegular", sans-serif; }
    .main-news-item__prop--link:hover {
      text-decoration: none; }

.main-connect-item.left {
  margin-right: -7px; }
  .main-connect-item.left .block-title {
    font-size: 24px;
    margin-bottom: 20px; }
  .main-connect-item.left .main-connect-item__text {
    max-height: 310px;
    overflow: hidden;
    text-overflow: ellipsis; }
    .main-connect-item.left .main-connect-item__text p {
      font-family: "GothamProRegular", sans-serif;
      font-size: 13px;
      color: #63636d;
      margin-bottom: 20px; }

.main-connect-item.right {
  margin-left: -7px; }

.main-connect-item__order {
  color: #fff;
  height: 190px; }
  .main-connect-item__order .left {
    display: inline-block;
    width: 60%;
    margin: 0 -2px;
    padding: 27px 0 0 35px;
    position: relative; }
    .main-connect-item__order .left:before {
      content: '';
      display: block;
      background-color: #8d8c8e;
      height: 110px;
      width: 1px;
      position: absolute;
      top: 40px;
      right: -10px; }
    .main-connect-item__order .left p {
      font-size: 12px;
      font-family: "GothamProMedium", sans-serif; }
    .main-connect-item__order .left .block-title {
      font-size: 26px;
      font-family: "GothamProBold", sans-serif;
      margin-bottom: 5px; }
  .main-connect-item__order .right {
    display: inline-block;
    width: 40%;
    margin: 0 -2px;
    padding: 40px 10px 0 35px;
    vertical-align: top; }
    .main-connect-item__order .right a {
      display: block; }
    .main-connect-item__order .right .btn {
      width: 180px;
      margin-bottom: 15px; }
    .main-connect-item__order .right .link-mail {
      display: inline-block;
      border-bottom: 1px dotted #fff;
      line-height: 1;
      -webkit-transition: .3s ease;
      transition: .3s ease; }
      .main-connect-item__order .right .link-mail:hover {
        border-bottom-color: transparent; }

.main-connect-item__order-left,
.main-connect-item__order-right {
  color: #fff;
  height: 190px;
  display: inline-block;
  width: 49%;
  margin: 12px -2px 0;
  vertical-align: top;
  text-align: center;
  padding: 35px 15px 0 15px; }
  .main-connect-item__order-left .block-title,
  .main-connect-item__order-right .block-title {
    font-family: "GothamProBold", sans-serif;
    color: #fff;
    font-size: 17px;
    line-height: 1.4;
    margin-bottom: 20px; }

.main-connect-item__order-left {
  margin-right: 12px; }
  .main-connect-item__order-left .btn {
    width: 200px; }

.main-connect-item__order-right .main-connect-item__input {
  border: 0;
  height: 46px; }

.main-connect-item__order-right .btn {
  padding: 10px;
  vertical-align: bottom;
  font-size: 23px;
  margin-left: -4px; }

.main-brands .container {
  border-top: 1px dashed #c4c8cb;
  padding: 25px 15px 35px; }

.main-brands__title {
  float: left;
  width: 8%;
  line-height: 1.4; }
  .main-brands__title .block-title {
    font-size: 18px;
    font-family: "GothamProBold", sans-serif;
    max-width: 90px;
    padding-top: 10px; }

.main-brands__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 -2px;
  width: 75%;
  float: left; }
  .main-brands__list li a {
    display: block;
    height: 100%; }
    .main-brands__list li a img {
      -webkit-filter: url(#grayscale.svg);
              filter: url(#grayscale.svg);
      -webkit-filter: grayscale(100%) opacity(0.3);
              filter: grayscale(100%) opacity(0.3);
      -webkit-transition: .3s ease;
      transition: .3s ease;
      max-width: 100%;
      height: auto; }
    .main-brands__list li a:hover img {
      -webkit-filter: grayscale(0) opacity(1);
              filter: grayscale(0) opacity(1); }

.main-brands__link {
  float: left;
  width: 17%;
  text-align: right;
  padding-top: 15px; }
  .main-brands__link .btn {
    color: #282832;
    width: 210px; }
    .main-brands__link .btn span {
      position: relative;
      margin-right: 8px; }
      .main-brands__link .btn span:after {
        content: "";
        display: block;
        width: 7px;
        height: 7px;
        border-top: 1px solid #282832;
        border-right: 1px solid #282832;
        position: absolute;
        top: 3px;
        right: -13px;
        -webkit-transform: rotateZ(45deg);
            -ms-transform: rotate(45deg);
                transform: rotateZ(45deg); }

@media (max-width: 1279px) {
  .top-slider__item--title {
    font-size: 24px;
    max-width: 360px; }
  .top-slider__item--text {
    max-width: 348px;
    margin-left: 0;
    font-size: 14px; }
  .top-slider__item--link {
    margin-left: 0; }
  .our-services__list--itemTop:after {
    -webkit-transform: rotate(-50deg) translate(0, -400px);
        -ms-transform: rotate(-50deg) translate(0, -400px);
            transform: rotate(-50deg) translate(0, -400px); }
  .our-services__list--itemTop:before {
    -webkit-transform: rotate(-50deg) translate(-70%, 85px);
        -ms-transform: rotate(-50deg) translate(-70%, 85px);
            transform: rotate(-50deg) translate(-70%, 85px); }
  .our-services__list--itemBottom:after {
    -webkit-transform: rotate(130deg) translate(-30px, -52px);
        -ms-transform: rotate(130deg) translate(-30px, -52px);
            transform: rotate(130deg) translate(-30px, -52px); }
  .main-brands__link {
    float: left;
    width: 100%;
    text-align: center; }
  .main-brands__list {
    width: 90%; }
  .main-brands__title {
    width: 10%; } }

@media (max-width: 991px) {
  .main-logo {
    width: 30%;
    margin-right: 15px; }
  .main-connect {
    width: 31%; }
  .main-nav-item__search .search-label {
    display: none; }
  .main-nav-item__sign,
  .main-nav-item__cart,
  .main-nav-item__search {
    width: 34%; }
  .our-services__all {
    width: 50%; }
  .our-services__list li {
    width: 50%; }
  .our-services__list--itemTop:before {
    -webkit-transform: rotate(-50deg) translate(-70%, 50px);
        -ms-transform: rotate(-50deg) translate(-70%, 50px);
            transform: rotate(-50deg) translate(-70%, 50px); }
  .our-services__list--itemBottom:after {
    -webkit-transform: rotate(130deg) translate(-30px, -90px);
        -ms-transform: rotate(130deg) translate(-30px, -90px);
            transform: rotate(130deg) translate(-30px, -90px); }
  .main-news-item {
    margin-bottom: 30px;
    float: left;
    width: 100%; }
  .block-with-back__link {
    padding: 15px 0 0; }
  .main-brands__list li {
    max-width: 100px; }
  .main-brands__title {
    width: 15%; }
  .main-brands__list {
    width: 85%; }
  .main-connect-item.left {
    margin-right: 0;
    padding-bottom: 30px; }
  .top-slider__item {
    height: 350px;
    padding-top: 40px; }
  .top-slider__item--title {
    font-size: 22px;
    max-width: 320px;
    padding: 20px;
    margin-bottom: 20px; }
  .top-slider__item .subImage {
    height: 100%; }
    .top-slider__item .subImage img {
      height: 100%; }
  .top-slider__item--text {
    max-width: 300px;
    font-size: 11px; }
  .goods-prop {
    padding: 0 20px 25px; }
  .goods-image {
    height: 240px;
    margin: 15px; }
  .goods-image img {
    max-height: 100%;
    max-width: 100%; }
  .goods-prop__name {
    font-size: 13px;
    margin-bottom: 10px; }
  .goods-price {
    margin-bottom: 10px;
    font-size: 13px; }
  .block-with-back {
    padding: 35px 0 40px; }
  .remedies {
    margin-bottom: 40px; }
  .block-with-back__title {
    margin-bottom: 20px; }
  .block-no-back {
    padding: 40px 0; } }

@media (max-width: 767px) {
  .four-item-slider {
    width: 810px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%); }
  .main-drop-mnu .for-tablet {
    display: none; }
  .main-connect .dropdown > a:after {
    content: none; }
  .site-header-menu__bottom {
    position: absolute;
    top: 0;
    left: 0;
    right: 0; }
  .site-header-menu {
    padding-bottom: 150px; }
  .main-connect {
    width: 20%;
    position: absolute;
    top: 0;
    left: 20%; }
  .main-logo {
    width: 100%;
    margin-right: 0;
    position: absolute;
    top: 57px;
    left: 0;
    right: 0;
    text-align: center; }
  .main-connect .dropdown > a {
    position: absolute;
    top: -18px;
    right: 19px;
    color: #fff;
    z-index: 10;
    font-size: 32px; }
    .main-connect .dropdown > a:before {
      content: "";
      display: block;
      height: 60px;
      position: absolute;
      top: -14px;
      left: -17px;
      width: 1px;
      background-color: #ea834c; }
  .main-nav {
    width: 60%;
    z-index: 10;
    position: absolute;
    top: 0;
    right: 0; }
  .main-nav-item {
    border-left: 1px solid #ea834c;
    height: 60px; }
  .main-nav-item:last-child {
    border-right: 1px solid #ea834c; }
  .main-nav-item .icon-font {
    color: #fff; }
  .main-nav-item a:hover {
    background-color: transparent; }
  .main-nav-item__search .icon-search {
    font-size: 28px;
    top: 50%;
    margin-top: -12px;
    right: 50%;
    margin-right: -15px; }
  .main-nav-item__sign .icon-user {
    font-size: 31px;
    margin-top: -14px;
    margin-left: -17px; }
  .main-nav-item__cart .icon-cart {
    font-size: 31px;
    margin-top: -14px;
    margin-left: -15px; }
  .main-connect .dropdown-menu {
    max-width: 100%;
    left: 0;
    right: 0;
    top: 60px;
    position: fixed;
    z-index: 11; }
  .top-slider__item {
    height: 260px;
    padding-top: 25px; }
  .top-slider__item--title {
    font-size: 16px;
    max-width: 258px;
    padding: 19px;
    margin-bottom: 12px;
    letter-spacing: 3px; }
  .top-slider__item--text {
    max-width: 150px;
    margin-bottom: 15px; }
  .top-slider__item--link {
    width: 140px; }
  .our-services__all {
    width: 100%; }
  .our-services__list {
    display: block;
    overflow: hidden; }
  .our-services__list--itemTop:before {
    content: none; }
  .our-services__list--itemBottom:after {
    content: none; }
  .our-services__list li:after, .our-services__list li:before {
    content: none; }
  .our-services__all {
    margin: 0; }
  .block-no-back {
    padding: 20px 0; }
  .block-with-back__title .block-title {
    margin-bottom: 5px;
    font-size: 24px; }
  .block-with-back {
    padding: 25px 0; }
  .main-news-item__image {
    width: auto;
    float: none;
    margin: 0 auto 20px;
    display: table; }
  .main-news-item__prop {
    margin-left: 0; }
  .main-brands__title {
    width: 100%;
    text-align: center; }
  .main-brands__title .block-title {
    font-size: 16px;
    max-width: 100%;
    padding-top: 0;
    margin-bottom: 20px; }
  .main-brands__list {
    width: 100%; }
  .main-brands__list {
    float: none;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    .main-brands__list li {
      margin-bottom: 10px; }
  .main-brands .container {
    padding: 15px 15px 25px; }
  .main-connect-item.right {
    margin-left: 0; }
  .main-connect-item__order {
    height: auto; }
  .main-connect-item__order .left {
    width: 100%;
    text-align: center;
    padding: 20px 20px 0; }
  .main-connect-item__order .right {
    width: 100%;
    text-align: center;
    padding: 20px; }
  .main-connect-item__order .right a {
    margin: auto; }
  .main-connect-item__order-left, .main-connect-item__order-right {
    width: 100%;
    padding: 35px 15px 35px 15px; } }
