@media ($desktop) {

  /////////////////////////////////////////////// hide fixed menu //////////////////
  .site-header.header-fixed {
    position: relative;
    top: 0;
  }
  body {
    padding-top: 0 !important;
  }
  //////////////////////////////////////////////////////////////////////////////////

  .reviews-list__item--title {
    padding: 0 3% 0;
    font-size: 14px;
    margin-bottom: 20px;
  }
  .reviews-list__item--image img {
    max-width: 270px;
  }
  .reviews-list__top--wrapper {
    height: 345px;
    margin-bottom: 10px;
  }

  .project-image {
    margin: 15px 15px 10px;
    height: 180px;
  }

  .sidebar {
    width: 30%;
  }
  .right-block {
    width: 70%;
  }
  .sidebar-range__val > div {
    padding: 8px 11px 6px;
  }

  .five-item-list li {
    width: 33.38%;
    &.empty-item {
      display: none;
    }
  }
  .catalog-col__item {
    width: 50.1%;
  }
  .catalog {
    //border-right: 1px solid #e5e5e7;
  }
  .seo-text--title.margin-bottom-sm {
    font-size: 17px;
    margin-bottom: 15px;
  }
  .seo-text {
    .margin-bottom-md {
      margin-bottom: 15px;
    }
  }

  .site-header-menu__middle.search {
    z-index: 202;
    position: relative;
    background: #fff;
  }

  .site-search {
    position: fixed;
    top: 98px;
    left: 0;
    right: 0;
    bottom: inherit;
    width: 0;
    height: auto;
    background-color: transparent;
  }
  .site-search.open {
    width: 100%;
    padding: 9px;
    z-index: 201;
  }
  .site-search__submit {
    width: 19%;
  }


  .catalog-row__item .goods-image {
    width: 40%;
    height: 265px;
  }
  .catalog-row__item .goods-prop {
    width: 59%;
  }
  .catalog-row__item .goods {
    height: auto;
  }
  .catalog-row__item .goods-count {
    width: 100%;
    border-left: 0;
    border-top: 1px solid #e5e5e7;
    padding-top: 10px;
  }
  .catalog-row__item .goods-count__wrapper {
    display: inline-block;
    margin: 0 -2px;
    width: 50%;
    vertical-align: top;
  }
  .goods-count-block fieldset {
    height: 44px;
  }
  .catalog-row__item .goods-count-block {
    padding: 0 40px 0 28px;
    margin-bottom: 25px;
  }
  .catalog-row__item .goods-show-more,
  .catalog-row__item .goods-order-btn{
    padding: 0 20px 0 40px;
  }
  .catalog-row__item .goods-order-btn {
    margin-top: 24px;
  }

  /////////////////////////////////////////////////// product ////////////////////////

  .product-slider-block:after {
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #ebeff2;
    width: 9999px;
    z-index: -1;
  }

  .product-slider-block {
    padding: 35px 0 35px 0;
    max-width: 600px;
    margin: auto;
  }

  .product-slider-bottom__item {
    height: 140px;
  }

  .product-container-top {
    margin-bottom: 30px;
  }



















}