@media ($desktop) {

  .reviews-list__item--title {
    padding: 0 3% 0;
    font-size: 14px;
    margin-bottom: 20px;
  }
  .reviews-list__item--image img {
    max-width: 270px;
  }
  .reviews-list__top--wrapper {
    height: 345px;
    margin-bottom: 10px;
  }

  .project-image {
    margin: 15px 15px 10px;
    height: 180px;
  }

















}