@media ($tablet) {
  h1 {
    font-size: 28px;
  }
  h2 {
    font-size: 22px;
    margin-bottom: 8px;
  }
  h3 {
    font-size: 17px;
    margin-bottom: 7px;
  }
  h4 {
    margin-bottom: 5px;
  }
  section.text-page {
    padding-bottom: 60px;
  }
}