@media ($tablet) {
  h1 {
    font-size: 28px;
  }
  h2 {
    font-size: 22px;
    margin-bottom: 8px;
  }
  h3 {
    font-size: 17px;
    margin-bottom: 7px;
  }
  h4 {
    margin-bottom: 5px;
  }
  section.text-page {
    padding-bottom: 60px;
  }

  .three-list__item {
    width: 50%;
  }
  .project-image {
    height: 210px;
  }
  .project-link {
    padding: 0 20px;
    margin-bottom: 15px;
  }
  .project-view-more {
    padding-bottom: 25px;
  }

  .sidebar__title {
    font-size: 15px;
    padding: 17px 20px 16px;
  }
  .sidebar__list li a {
    padding: 8px 20px 8px;
    line-height: 1.3;
  }
  .sidebar__filter {
    padding: 10px 20px 30px;
  }
  .sidebar-range__val input {
    max-width: 45px;
    padding-left: 0;
    padding-right: 0;
  }
  .sidebar-range__val > div {
    padding: 10px 6px 8px;
    margin: 0 -2px 25px;
  }
  .sidebar-range {
    margin-bottom: 10px;
  }
  .sidebar__filter--ctrl .btn {
    width: 100%;
    margin: 10px 0;
  }
  .sidebar-range__title {
    padding: 6px 0 7px;
  }


  .catalog-row__item .goods-prop {
    padding-top: 15px;
    font-size: 12px;
  }
  .catalog-row__item .goods-prop__name {
    height: 35px;
    font-size: 15px;
  }
  .catalog-row__item .goods-price__old {
    font-size: 15px;
  }
  .catalog-row__item .goods-price__current {
    font-size: 20px;
  }
  .catalog-row__item .goods-price {
    margin-bottom: 0;
    padding: 0 20px;
  }
  .catalog-row__item .goods-count-block {
    padding: 0 40px 0 20px;
    margin-bottom: 20px;
  }
  .catalog-row__item .goods-order-btn {
    margin-top: 7px;
  }

  /////////////////////////////////////////////////////// product /////////////////////////
  .product {
    margin-top: -30px;
    overflow: hidden;
  }
  .product-left-block {
    padding: 0 25px 0 0;
    margin-top: 25px;
    margin-bottom: 25px;
  }
  .product-right-block {
    padding: 0 0 0 25px;
    margin-top: 25px;
    margin-bottom: 25px;
  }
  .product-underline-block {
    float: left;
  }
  .product-underline-block:before {
    left: 0;
  }
  .product-container-top {
    margin-bottom: 25px;
  }
  .product-tabs__content {
    margin-bottom: 20px;
  }
  .product .r-tabs .r-tabs-nav {
    margin-bottom: 20px;
  }
  .block-no-back {
    overflow: hidden;
  }
  .product-slider-block {
    padding: 25px 0 25px 0;
    max-width: 300px;
    margin: auto;
  }

  .client-detail .client-detail__image {
    width: 185px;
    height: 185px;
    margin-right: 20px;
    img {
      max-height: 175px;
      max-width: 175px;
    }
  }
  .client-detail__text {
    margin-left: 205px;
  }

  .order-user-data {
    width: 100%;
    right: 0;
    float: none;
    padding-right: 0;
    margin-bottom: 55px;
  }
  .order-cart {
    width: 100%;
    left: 0;
    float: none;
  }




















}