@media ($mobile) {
  h1 {
    font-size: 24px;
  }
  h2 {
    font-size: 20px;
  }
  h3 {
    font-size: 17px;
  }
  .float-left-block {
    width: 290px;
    float: none;
    margin-right: auto;
    margin-bottom: 15px;
    margin-left: auto;
  }
  .blockquote {
    min-height: 100%;
    padding: 20px 15px;
    float: none;
    width: auto;
  }
  .blockquote-img {
    position: relative;
    float: none;
    height: 110px;
    width: 110px;
    margin: 0 auto 20px;
  }
  .blockquote-text {
    margin-left: 0;
    text-align: center;
    .bold-text {
      display: block;
    }
  }

  .three-list__item {
    width: 100%;
  }
  .reviews-list__item--title {
    max-height: 55px;
    height: auto;
  }
  .project-image {
    height: 165px;
  }

  .sidebar {
    width: 100%;
    margin: 0;
  }
  .right-block {
    width: 100%;
    margin: 0;
  }

  .sidebar__title {
    font-size: 15px;
    padding: 17px 20px 16px;
    position: relative;
    cursor: pointer;
    margin-bottom: 10px;
    &.rotate {
      margin-bottom: 0;
      &:after {
        transform: rotateZ(315deg);
      }
    }
    &:after {
      content: "";
      display: block;
      height: 7px;
      width: 7px;
      border-top: 1px solid #fff;
      border-right: 1px solid #fff;
      transform: rotateZ(135deg);
      position: absolute;
      top: 50%;
      right: 15px;
      margin-top: -4px;
      -webkit-transition: .3s ease;
      transition: .3s ease;
    }
  }

  .sidebar__list,
  .sidebar__filter{
    display: none;
  }

  .right-block {
    .catalog-title-mob {
      display: block;
    }
    .five-item-list {
      display: none;
      margin-left: 0;
    }
    .five-item-list li {
      width: 100%;
      text-align: left;
      height: auto;
      padding: 8px;
      position: relative;
      margin: 0;
      a:after {
        content: none;
      }
    }
    .five-item-list--photo {
      height: 60px;
      width: 60px;
      float: left;
      
      img {
        max-width: 100%;
        max-height: 100%;
      }
    }
    .five-item-list li span {
      text-align: left;
    }
    .five-item-list--title {
      height: 60px;
      overflow: hidden;
      width: auto;
      margin-left: 70px;
      padding: 0;
      justify-content: flex-start;
    }
  }
  .right-block__title {
    margin-bottom: 15px;
    padding: 0;
  }
  .catalog {
    border-left: 1px solid #e5e5e7;
  }
  .catalog-col__item {
    width: 100%;
    margin: 0 !important;
  }
  .goods-sort-panel {
    float: none;
    width: 100%;
    display: block;
    border-top: 1px solid #e5e5e7;
    border-right: 1px solid #e5e5e7;
    border-left: 1px solid #e5e5e7;
  }
  .goods-sort__select {
    float: none;
    top: 0;
    padding: 14px 15px;
  }
  .goods-sort__kind {
    float: none;
    border-top: 1px solid #e5e5e7;
    top: 0;
    padding: 13px 25px 5px;
  }
  .goods-prop__name {
    padding: 0 15px;
    height: 40px;
  }
  .goods-prop__bottom {
    padding-top: 10px;
    font-size: 12px;
  }
  .goods-order-state {
    margin-bottom: 7px;
  }
  .goods-prop {
    padding: 0 0 15px;
  }
  .seo-text {
    padding-top: 20px;
  }
  .goods-sort__select .bootstrap-select {
    width: auto !important;
  }
  .goods-sort__select label {
    font-size: 12px;
    margin-right: 5px;
  }


















}