@media ($mobile) {
  h1 {
    font-size: 24px;
  }
  h2 {
    font-size: 20px;
  }
  h3 {
    font-size: 17px;
  }
  .float-left-block {
    width: 290px;
    float: none;
    margin-right: auto;
    margin-bottom: 15px;
    margin-left: auto;
  }
  .blockquote {
    min-height: 100%;
    padding: 20px 15px;
    float: none;
    width: auto;
  }
  .blockquote-img {
    position: relative;
    float: none;
    height: 110px;
    width: 110px;
    margin: 0 auto 20px;
  }
  .blockquote-text {
    margin-left: 0;
    text-align: center;
    .bold-text {
      display: block;
    }
  }

  .three-list__item {
    width: 100%;
  }
  .reviews-list__item--title {
    max-height: 55px;
    height: auto;
  }
  .project-image {
    height: 165px;
  }

  .sidebar {
    width: 100%;
    margin: 0;
  }
  .right-block {
    width: 100%;
    margin: 0;
  }

  .sidebar__title {
    font-size: 15px;
    padding: 17px 20px 16px;
    position: relative;
    cursor: pointer;
    margin-bottom: 10px;
    &.rotate {
      margin-bottom: 0;
      &:after {
        transform: rotateZ(315deg);
      }
    }
    &:after {
      content: "";
      display: block;
      height: 7px;
      width: 7px;
      border-top: 1px solid #fff;
      border-right: 1px solid #fff;
      transform: rotateZ(135deg);
      position: absolute;
      top: 50%;
      right: 15px;
      margin-top: -4px;
      -webkit-transition: .3s ease;
      transition: .3s ease;
    }
  }

  .sidebar__list,
  .sidebar__filter{
    display: none;
  }




















}