@mixin optional-at-root($sel) {
  @at-root #{if(not &, $sel, selector-append(&, $sel))} {
    @content;
  }
}

@mixin placeholder {
  @include optional-at-root('::-webkit-input-placeholder') {
    @content;
  }

  @include optional-at-root(':-moz-placeholder') {
    @content;
  }

  @include optional-at-root('::-moz-placeholder') {
    @content;
  }

  @include optional-at-root(':-ms-input-placeholder') {
    @content;
  }
}

@mixin button-with-arrow ($text-color) {
  color: $text-color;
  span {
    position: relative;
    margin-right: 8px;
    &:after {
      content: "";
      display: block;
      width: 7px;
      height: 7px;
      border-top: 1px solid $text-color;
      border-right: 1px solid $text-color;
      position: absolute;
      top: 3px;
      right: -13px;
      transform: rotateZ(45deg);
    }
  }
}
