section.text-page {
  padding-bottom: 70px;
}

.resp-table {

  border-top: 1px solid #dddde0;

  .responsive-table {
    position: relative;
    &:first-child {
      display: none;
    }
    &:nth-child(odd){
      background-color: #f2f4f7;
    }
  }
  .responsive-table {
    display: block;
    width: auto;
    tbody {
      display: block;
      width: auto;
      border-bottom: 1px solid #dddde0;
      padding: 20px 40px;

      &>tr {
        display: block;
        width: auto;
        height: auto;
        border-bottom: 0;

        &:nth-child(odd) {
          background-color: transparent;
        }

        &:first-child {
          background-color: transparent;
          color: $text-color;
          font-family: $font-light;
          font-size: 13px;
          display: block;
          position: absolute;
          top: 20px;
          left: 15px;

          &>td {
            &:first-child {
              display: none;
            }
          }
        }

        &:nth-child(2){
          .st-key {
            display: none;
          }
        }

        &>td {
          //display: block;
          width: auto;
          &:first-child {
            text-align: left;
            font-family: $font-bold;
            padding-right: 5px;
            &:after {
              content: ':';
              position: relative;
            }
          }
        }
      }
    }
  }
}

.three-list {
  border-top: 1px solid #e5e5e7;
  border-left: 1px solid #e5e5e7;
  //display: inline-block;
  &__item {
    border-bottom: 1px solid #e5e5e7;
    border-right: 1px solid #e5e5e7;
    position: relative;
    width: 33.38%;
    vertical-align: top;
    transition: .3s ease;
    &:after {
      content: '';
      display: block;
      height: 100%;
      width: 1px;
      background-color: transparent;
      position: absolute;
      top: 0;
      left: 0;
      transition: .3s ease;
    }
    &:before {
      content: '';
      display: block;
      height: 1px;
      width: 100%;
      background-color: transparent;
      position: absolute;
      top: 0;
      left: 0;
      transition: .3s ease;
    }
    &:hover {
      border-color: $accent-color;
      &:after {
        background-color: $accent-color;
      }
      &:before {
        background-color: $accent-color;
      }
    }
  }
}

.reviews-list {
  &__item {
    &--image {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: block;
      img {
        height: auto;
        width: auto;
        max-height: 330px;
        max-width: 350px;
      }
      &:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #000;
        opacity: 0;
        transition: .3s ease;
      }
      .icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -10%);
        opacity: 0;
        transition: .3s ease-in-out;
      }
      &:hover {
        &:after {
          opacity: .3;
          border-color: $accent-color;
        }
        .icon {
          opacity: 1;
          transform: translate(-50%, -50%);
          z-index: 1;
        }
      }
    }

    &--title {
      padding: 0 10% 0;
      font-family: $font-bold;
      font-size: 15px;
      display: block;
      text-align: center;
      height: 40px;
      margin-bottom: 30px;
      overflow: hidden;
      text-overflow: ellipsis;
      line-height: 1.3;
    }

  }

  &__top--wrapper {
    overflow: hidden;
    position: relative;
    height: 31vw;
    margin-bottom: 15px;

  }
  &__bottom--wrapper {
    overflow: hidden;
  }
}

.project {
  &-image {
    margin: 20px 20px 15px;
    overflow: hidden;
    position: relative;
    height: 235px;
    img {
      max-width: 100%;
      height: auto;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
    }
  }

  &-link {
    padding: 0 30px;
    height: 45px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 25px;
    a {
      transition: .3s ease;
      &:hover {
        color: $accent-color;
        text-decoration: underline;
      }
    }
  }

  &-view-more {
    text-align: center;
    padding-bottom: 30px;
    .btn {
      width: 230px;
    }
  }
}


.sidebar {
  display: inline-block;
  margin: 0 -2px;
  width: 25%;
  font-family: $font-normal;
  vertical-align: top;

  &__title {
    background-color: $text-color;
    color: #fff;
    font-size: 16px;
    padding: 17px 25px 16px;
  }
  &__list {
    padding: 10px 0;
    background-color: #ebeff2;
    li{
      a {
        display: block;
        padding: 10px 25px 11px 25px;
        transition: .3s ease;
        &:hover {
          background-color: #d2d9df;
        }
      }
    }
  }
  &__filter {
    padding: 10px 25px 30px 25px;
    background-color: #ebeff2;

    &--ctrl {
      text-align: center;
      .btn {
        width: 230px;
        margin: 15px 0;
      }
      .btn-link {
        border-bottom: 1px dashed $text-color;
        &:hover {
          border-color: transparent ;
        }
      }
    }
  }
}

.sidebar-range {
  margin-bottom: 20px;
  &__title {
    padding: 10px 0;
  }
  &__val {

    &>div {
      display: inline-block;
      position: relative;
      border: 1px solid #c8ced3;
      padding: 11px 15px 8px;
      margin-bottom: 25px;
    }

    input {
      border: 0;
      background: transparent;
      max-width: 70%;
      padding-left: 5px;
    }

    label {
      font-family: $font-light;
      font-size: 13px;
    }

    .range-from {
      width: 48%;
      margin-right: 2%;
    }
    .range-to {
      width: 48%;
    }
  }

  &__static {
    color: #86868e;
    font-family: $font-light;
    font-size: 13px;
    float: left;
    width: 100%;
    margin-top: 10px;
    .range-from {
      float: left;
    }
    .range-to {
      float: right;
    }
  }
}

.sidebar-checkboxes {
  &__list {
    padding-bottom: 15px;
    li {
      padding: 8px 0 7px;
    }
  }
}

#slider-range {

  .ui-corner-all, .ui-corner-bottom, .ui-corner-br, .ui-corner-right {
    border-radius: 0;
  }

  .ui-slider-horizontal {
    height: 9px;
  }

  .ui-widget-header {
    border: 0;
    background: #d2d9df;
    color: transparent;
    font-weight: 100;
  }

  .ui-widget-content {
    border: 0;
    color: transparent;
  }

  .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    border: 0;
    background: $accent-color;
    font-weight: normal;
    color: transparent;
    outline: none;
    &.ui-state-hover {
      background-color: #fb7933;
    }
  }

  .ui-slider-handle.ui-state-default.ui-corner-all {
    width: 7px;
    height: 20px;
    cursor: pointer;
    margin-left: 0;
  }

  span.ui-slider-handle.ui-state-default.ui-corner-all:nth-child(2){
   &:after {
     content: '';
     display: block;
     width: 0;
     height: 0;
     border-bottom: 7px solid $accent-color;
     border-right: 7px solid transparent;
     position: absolute;
     top: -7px;
     left: 0;
   }
    &.ui-state-hover:after {
      border-bottom-color: #fb7933;
    }
  }

  span.ui-slider-handle.ui-state-default.ui-corner-all:nth-child(3){
    &:after {
      content: '';
      display: block;
      width: 0;
      height: 0;
      border-bottom: 7px solid $accent-color;
      border-left: 7px solid transparent;
      position: absolute;
      top: -7px;
      left: 0;
    }
    &.ui-state-hover:after {
      border-bottom-color: #fb7933;
    }
  }
}


.right-block {
  display: inline-block;
  margin: 0 -2px;
  width: 75%;
  vertical-align: top;

  &__title {
    margin-bottom: 25px;
    padding: 0 25px;

  }
}
.catalog-title-mob {
  background-color: #d2d9df;
  padding: 18px 20px 16px;
  position: relative;
  margin-bottom: 11px;
  display: none;
  &.rotate {
    margin-bottom: 0;
    &:after {
      transform: rotateZ(315deg);
    }
  }
  &:after {
    content: "";
    display: block;
    height: 7px;
    width: 7px;
    border-top: 1px solid $text-color;
    border-right: 1px solid $text-color;
    transform: rotateZ(135deg);
    position: absolute;
    top: 50%;
    right: 15px;
    margin-top: -4px;
    -webkit-transition: .3s ease;
    transition: .3s ease;
  }
}
.five-item-list {
  @extend .remedies-list;
  margin-left: 1px;
  margin-bottom: 20px;
  border-right: 0;
  border-bottom: 0;
  border-top: 1px solid #e5e5e7;
  border-left: 1px solid #e5e5e7;
  li {
    @extend .remedies-item;
    position: relative;
    cursor: pointer;
    width: 20%;
    border-right: 1px solid #e5e5e7;
    border-bottom: 1px solid #e5e5e7;
    border-top: 0;
    border-left: 0;
    height: 190px;
    a {
      &:hover {
        span {
          color: $accent-color;
        }
      }
    }
  }

  &--photo {
    height: 130px;
    position: relative;
    overflow: hidden;
    width: 100%;
    img {
      position: absolute;
      top: 50%;
      left:50%;
      transform: translate(-50%, -50%);
      max-height: 110px;
      max-width: 120px;
    }
  }
  &--title {
    color: #464651;
    padding: 0 10px;
    font-size: 12px;
    height: 60px;
    width: 100%;
    overflow: hidden;
    position: relative;
    text-overflow: ellipsis;
    display: flex !important;
    justify-content: center;
    align-items: center;
    &>span {
      display: inline-block;
    }
  }
}

.goods-sort-panel {
  float: left;
  width: 100%;
  border: 1px solid #e5e5e7;
  border-bottom: 0;
  border-left: 0;

}

.goods-sort__select {
  float: left;
  position: relative;
  top: 7px;
  padding: 10px 25px;
  label {
    font-family:$font-normal;
    font-size: 14px;
    margin-right: 10px;
  }
  .btn {
    font-family:$font-normal;
    max-width: 160px;
    font-size: 11px;
    vertical-align: middle;
  }
}


.bootstrap-select {
  position: relative;
  vertical-align: middle;
  outline: none;
  .caret {
    width: 7px;
    height: 7px;
    border-top: 1px solid $text-color;
    border-right: 1px solid $text-color;
    border-bottom: 0;
    border-left:0;
    transition: .3s ease;
    transform: rotateZ(135deg);
  }
}
.bootstrap-select.btn-group.open .dropdown-toggle .caret {
  margin-top: -4px;
  transform: rotateZ(-45deg);
}
.bootstrap-select.btn-group .dropdown-toggle .caret {
  margin-top: -7px;
}
.bootstrap-select.btn-group .dropdown-toggle .filter-option {
  width: auto;
  margin-bottom: 3px;
}
.bootstrap-select .dropdown-toggle:focus {
  outline: none !important;
}

.goods-sort__kind {
  float: right;
  position: relative;
  top: 5px;
  padding: 10px 25px;
  & > a {

    span {
      transition: .3s ease;
    }

    &.active {
      span {
        background-color: $accent-color;
        border-color: $text-color;
      }
    }
    &:hover {
      span {
        background-color: $accent-color;
        //border-color: $text-color;
      }
    }
  }
  &--row {
    display: inline-block;
    height: 25px;
    width: 24px;
    position: relative;
    line-height: 0;
    span {
      display: block;
      height: 5px;
      border: 1px solid #e5e5e7;
      margin-bottom: 4px;
    }
  }
  &--col {
    display: inline-block;
    height: 27px;
    width: 27px;
    position: relative;
    line-height: 0;
    overflow: hidden;
    margin-right: 10px;
    span {
      display: inline-block;
      border: 1px solid #e5e5e7;
      height: 5px;
      width: 5px;
      margin: 2px;
    }
  }
}

.catalog {
  border-top: 1px solid #e5e5e7;
  border-left: 3px solid #e5e5e7;
  .goods {
    border-bottom: 1px solid #e5e5e7;
    border-right: 1px solid #e5e5e7;
    &-image {
      img {
        transition: .3s ease;
        transform: translate(-50%, -50%) scale(.9);
      }

    }

    &:before {
      content: "";
      display: block;
      width: 100%;
      height: 1px;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      background-color: transparent;
      z-index: 1;
    }
    &:hover {
      border-color: $accent-color;
      .goods-image img {
        transform: translate(-50%, -50%) scale(1);
      }
      &:before {
        background-color: $accent-color;
      }
    }
  }
  &-col {
    &__item {
      width: 33.4%;
    }
  }
}

.catalog.catalog-row {
  border-left-width: 1px;
}

.catalog-row__item {

  .goods {
    padding-top: 0;
    height: 320px;
  }

  .goods-image {
    width: 31%;
    display: inline-block;
    height: 100%;
  }

  .goods-count {
    width: 30%;
    display: inline-block;
    vertical-align: top;
    height: 100%;
    border-left: 1px solid #e5e5e7;
    padding-top: 19px;
  }
  .goods-prop {
    width: 38%;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    padding-bottom: 0;
    padding-top: 23px;
    padding-right: 10px;
    &__name {
      padding: 0;
      margin-bottom: 10px;
      height: 45px;
      font-size: 17px;
      line-height: 1.3;
    }
  }

  .goods-manufacturer {
    max-height: 18px;
    overflow: hidden;
    margin-bottom: 3px;
  }
  .goods-price__old {
    font-size: 17px;
  }
  .goods-price__current {
    font-size: 24px;
  }
  .goods-show-more {
    padding: 0 28px;
  }
  .goods-price {
    margin-bottom: 10px;
    padding: 0 28px;
  }
  .goods-count-block {
    padding: 0 28px;
    margin-bottom: 12px;
  }
  .goods-order-btn {
    padding: 0 28px;
    margin-bottom: 12px;
  }

}

.goods-count-block {

  &__label {
    margin-bottom: 10px;
  }

  fieldset {
    border: 1px solid #d6dbdf;
    height: 40px;
    
    input {
      border: none;
      text-align: center;
      width: 60%;
      margin: 0 -3px;
      height: 100%;
      background-color: transparent;
      vertical-align: top;
    }

    .btn {
      font-family: $font-regular;
      font-size: 20px;
      width: 20.1%;
      margin: 0 -1px;
      text-align: center;
      height: 100%;
      transition: .3s ease;
      &:active {
        background-color: lightgrey;
      }
      &.inc{
        border-left: 1px solid #d6dbdf;
      }
      &.dec{
        border-right: 1px solid #d6dbdf;
      }
    }
  }
}

.goods-size {
  &__label {
    display: block;
    margin-bottom: 5px;
  }
  &__list {
    margin-bottom: 5px;
    li {
      margin-right: 5px;
      margin-left: 0;
      margin-bottom: 10px;
      &:last-child {
        margin-right: 0;
      }
      &.active {
        a {
          border-color: $accent-color;
        }
      }
      a {
        display: block;
        height: 100%;
        border: 1px solid #cfd6db;
        padding: 5px 16px;
        transition: .3s ease;
        &:hover {
          border-color: #F76924;
        }
      }
    }
  }
}

.goods-color {
  &__label {
    display: block;
    margin-bottom: 5px;
  }
  &__list {
    margin-bottom: 10px;
    li {
      margin-right: 5px;
      margin-left: 0;
      border: 1px solid #cfd6db;
      padding: 4px;
      cursor: pointer;
      transition: .3s ease;
      height: 35px;
      width: 35px;

      &:last-child {
        margin-right: 0;
      }
      &.active {
        border-color: $accent-color;
      }
      &:hover {
        border-color: #F76924;
      }
      a {
        display: block;
        height: 100%;
      }
    }
  }

}

.goods-order-btn {
  .btn {
    width: 100%;
  }
}

.brands {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  img {
    max-width: 150px;
    height: auto;
  }
}

.error {
  &-input {
    border-bottom-color: #ef4344;
    &+label {
      color: #ef4344;
    }
  }
  &-label {
    color: #ef4344;
  }
}


.client-detail {
  &__text {
    margin-left: 235px;

    &--title {
      font-size: 15px;
    }

  }

  &__image {
    border: 1px solid #e5e5e7;
  }

}

.client-detail {
  .client-detail__image {
    width: 210px;
    height: 210px;
    img {
      max-width: 200px;
      max-height: 200px;
    }
  }
}


.order {
  &:after {
    content: " ";
    display: table;
    clear: both;
  }
}

.order-cart {
  width: 50%;
  left: 50%;
  margin-bottom: 30px;
  position: relative;
  float: left;

}

.order-cart-table {
  width: 100%;
  border: 1px solid #e5e5e7;

  &>tbody>tr:not(:last-child) {
    border-bottom: 1px solid #e5e5e7;
  }

  .total {
    float: right;
    font-family: $font-regular;
    padding: 25px 25px 20px;
    display: block;

    &>tbody {
      &>tr {
        &>td {
         //vertical-align: top;

          &:first-child {
            text-align: right;
            font-size: 15px;
            padding-right: 10px;
          }
        }
      }
    }

    &__over {
      font-size: 16px;
    }

    &__current {
      font-size: 24px;
      color: $accent-color;
      //line-height: 1.2;
    }

  }



  &__item {
    vertical-align: top;

    &--img {
      height: 170px;
      width: 170px;
      overflow: hidden;
      position: relative;
      a {
        display: block;
        height: 100%;
      }
      img {
        max-height: 130px;
        max-width: 130px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    &--prop {
      padding-top: 25px;
      padding-left: 20px;

      tr td {
        height: 28px;
      }

      .goods-prop__name {
        font-size: 16px;
        margin-bottom: 0;
        padding: 0;
        overflow: visible;
        text-overflow: inherit;
        height: auto;
        &:hover {
          color: $accent-color;
        }
      }
      .goods-prop__label {
        font-family: $font-regular;
        font-size: 13px;
      }
      .goods-price__old {
        font-size: 14px;
        margin-left: 10px;
      }
      .goods-price__current {
        font-size: 18px;
      }
    }
  }
}

.order-user-data {
  width: 50%;
  position: relative;
  right: 50%;
  float: left;
  padding-right: 35px;
  margin-bottom: 70px;

  .paragraph-gray {
    line-height: 1;
    margin-bottom: 30px;
  }

  .btn {
    width: 270px;
  }
}

.horizontal-radio {
  li:not(:last-child) {
    margin-right: 50px;
  }
}

.input-group {

  &__item {
    margin-bottom: 25px;

    &--label {
      width: 35%;
      display: inline-block;
      margin-right: -5px;
    }

    .input-border {
      width: 65%;
    }
  }
}

.vertical-radio {
  &__item {
    margin-bottom: 15px;
  }
}

.order-message {
  display: block;
  border: 1px solid #d0d5d9;
  height: 123px;
  width: 100%;
}

.user-data {
  margin-bottom: 50px;

  &__image {
    height: 310px;
    overflow: hidden;
    position: relative;
    img {
      position: absolute;
      display: block;
      height: 100%;
      width: auto;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__title {
    padding: 15px 0 14px;
    border-bottom: 1px solid $accent-color;
  }

  &__prop {

    &--title {
      font-size: 15px;
      line-height: 1.5;
    }
  }
}

.user-text {
  padding-left: 30px;
  margin-bottom: 50px;
}

.three-item-slider {
  @extend .four-item-slider;
  .project {
    border-top: 1px solid #d0d5d9;
    border-bottom: 1px solid #d0d5d9;
    border-right: 1px solid #d0d5d9;

  }
}

.sidebar__list.document-filter {
  padding: 0;
  margin-bottom: 50px;

  .active a{
    background-color: #d2d9df;
  }
}

.document-list {
  border-top: 1px solid #d0d5d9;
  border-left: 1px solid #d0d5d9;
  position: relative;
  float: left;
  &:after {
    content: '';
    display: table;
    clear: both;
  }

  &__item {
    border-bottom: 1px solid #d0d5d9;
    border-right: 1px solid #d0d5d9;
    float: left;
    width: 100%;

    .left {
      display: table;
      float: left;
      width: 50%;
      border-right: 1px solid #d0d5d9;
      padding: 15px;
      position: relative;
    }

    .right {
      display: table;
      float: left;
      width: 50%;
      padding: 15px;
      position: relative;
    }

    &--icon {
      width: 45px;
      height: 45px;
      display: table-cell;
      vertical-align: top;
      position: relative;
      overflow: hidden;

    }

    &--link {
      display: table-cell;
      vertical-align: middle;
      padding-left: 15px;
      transition: .3s ease;
      &:hover {
        color: $accent-color;
        text-decoration: underline;
      }
    }
  }
}





















