//////// font var //////////////

$font-normal: "GothamProMedium", sans-serif;
$font-regular: "GothamProRegular", sans-serif;
$font-bold: "GothamProBold", sans-serif;
$font-light: "GothamProLight", sans-serif;
$font-light-italic: "GothamProLightItalic", sans-serif;

////////// color var //////////////////////

$accent-color: #ea6924;
$accent-color-hover: #f47029;
$gray-color: #d6dde1;
$gray-block-color: #eff2f4;
$text-color: #282832;
$footer-text-color: #aeaeb9;
$background-block-color: #eff2f4;

////////// media query //////////////////////
$desktop: "max-width:1279px";
$tablet: "max-width:991px";
$mobile: "max-width: 767px";