.site-header-top {
  background-color: #282832;
  padding: 12px 0;
  
  &__prev {
    float: left;
    color: #fff;
    font-family: $font-normal;
    font-size: 13px;
    line-height: 1.4;
  }

  &__nav {
    float: right;
    color: #b1b1bf;
    font-size: 12px;

    a {
      color: inherit;

      &:hover {
        color: #fff;
        text-decoration: underline;
      }
    }
    li {
      display: inline-block;
      margin-right: 30px;
      float: left;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}




.site-header-menu {

  &__middle {

  }

  &__bottom {
    background-color: $accent-color;
    height: 60px;
  }
}

.main-drop-mnu {
  display: inline-block;
  margin:0 -2px;
  position: relative;
  color: #fff;
  width: 20%;
  vertical-align: top;
  height: 60px;
  cursor: pointer;

  &:hover {
    &>a {
      background-color: #c64d0c;
    }
    .main-drop-mnu__item {
      display: block;
      opacity: 1;
    }
  }


  .for-tablet {
    display: none;
  }
  &>a {
    height: 60px;
    display: block;
    background-color: #d15411;
    font-family: $font-bold;
    font-size: 15px;
    padding: 18px 0 15px 70px;
    transition: .3s ease;

    &.active {
      background-color: #c64d0c;
      .burger-menu {
        span {
          &:nth-child(1){
            top: 0;
            width: 0;
            transform: rotateZ(45deg) translate(4px, 2px);
          }
          &:nth-child(2){
            top: 8px;
            width: 26px;
            transform: rotateZ(-45deg);
          }
          &:nth-child(3){
            top: 16px;
            width: 26px;
            transform: rotateZ(45deg) translate(-5px, -6px);
          }
        }
      }
    }

    .burger-menu {
      display: block;
      height: 20px;
      position: absolute;
      top: 23px;
      left: 30px;
      span {
        display: block;
        height: 2px;
        background-color: #fff;
        position: absolute;
        left: 0;
        transition: .3s ease-in-out;
        &:nth-child(1){
          top: 0;
          width: 17px;
        }
        &:nth-child(2){
          top: 8px;
          width: 25px;
        }
        &:nth-child(3){
          top: 16px;
          width: 20px;
        }
      }
    }
  }
  &__item {
    display: none;
    opacity: 0;
    transition: .3s ease;
    position: absolute;
    top: 100%;
    left: 0;
    width: 280px;
    z-index: 11;
    font-size: 13px;
    &>ul>li {
      width: 280px;
    }
    &>ul>li>a {

      background-color: #d15411;
      color: #fff;
      display: block;
      padding: 10px 55px 10px 25px;
      position: relative;
      transition: .3s ease;

      &:hover {
        background-color: #282832;
      }
    }
    &.active {
      display: block !important;
      opacity: 1 !important;
    }

    .has-child {

      &:hover {

        .level-two {
          display: flex;
        }
      }

      &>a {
        &:after {
          content: '';
          display: block;
          width: 7px;
          height: 7px;
          border-top: 1px solid #fff;
          border-right: 1px solid #fff;
          transform: rotateZ(45deg);
          position: absolute;
          top: 50%;
          right: 20px;
          margin-top: -3px;
        }
      }
    }
    .level-two {
      position: absolute;
      top: 0;
      left: 280px;
      background-color: #fff;
      height: 100%;
      width: 951px;
      padding: 25px;
      display: none;
      flex-direction: column;
      flex-wrap: wrap;

      &__item {
        display: inline-block;
        max-width: 295px;
        font-size: 13px;
        color: $text-color;
        margin-bottom: 20px;
        
        &--logo {
          position: absolute;
          top: 10px;
          left: 10px;
        }
        &--title {
          font-family: $font-bold;
          font-size: 14px;
          position: relative;


          &:hover {
            &>span {
              color: $accent-color;
            }
          }
          &>span {
            transition: .3s ease;
            vertical-align: middle;
            display: inline-block;
            line-height: 1.4;
            max-width: 230px;
          }
          &>img {
            margin-right: 10px;
            width: 50px;
            height: 50px;

          }
        }
        &--list {
          padding-left: 70px;
          &>li {
            padding-bottom: 10px;
            line-height: 1.4;
            a {
              transition: .3s ease;
              display: inline-block;
              &:hover {
                color: $accent-color;
                text-decoration: underline;
              }
            }
          }
        }
      }
    }

    &--title {
      display: none;
      font-size: 16px;
      font-family: $font-bold;
      padding: 20px 25px 10px;
    }
    &--tabletSubMenu {
      display: none;
      border-top: 1px solid #e06e30;

        &>li {
          &>a{
            color: #f7d2bf !important;
          }
        }

    }

  }
}

.main-mnu {
  width: 80%;
  display: inline-block;
  margin:0 -2px;
  color: #fff;
  font-size: 15px;
  font-family: $font-bold;
  text-align: center;
  vertical-align: top;
  height: 60px;

  li {
    border-right: 1px solid #ed7f45;
    height: 100%;
    width: 20%;
    margin: 0 -2px;
    position: relative;
    a {
      display: block;
      height: 100%;
      line-height: 60px;
      transition: .3s ease;
      &:hover {
        background-color: $accent-color-hover;
      }
    }
    &:hover {
      &>ul {
        z-index: 100;
        opacity: 1;
      }
    }
    &>ul {
      position: absolute;
      top: 100%;
      left: 0;
      width: 220px;
      background-color:#d15411;
      z-index: -1;
      opacity: 0;
      text-align: left;

      //transition: .5s ease;
      &>li {
        display: block;
        margin: 0;
        width: 100%;
        padding: 0;
        height: auto;
        border-right: 0;

        &>a {
          line-height: inherit;
          font-family: $font-light;
          padding: 10px 15px;
          font-size: 14px;
          &:hover {
            background-color: #282832;
          }
        }
      }
    }
  }
}

.main-logo {
  display: inline-block;
  width: 25%;
  margin:0 -2px;
  padding: 19px 0;
  a {
    display: inline-block;
    height: 100%;
  }
}

.main-connect {
  display: inline-block;
  margin:0 -2px;
  width: 40%;
  font-size: 20px;
  vertical-align: middle;
  padding: 10px 0;

  .icon-smartphone {
    display: none;
  }
  .dropdown-menu {
    right: -25px;
    padding: 15px 0;
    margin: 0;
    font-size: 17px;
    background-color: #eef2f6;
    border: 0;
    border-radius: 0;
  }

  .dropdown-menu>li>a {
    color: inherit;
    transition: .3s ease;
    text-align: center;
  }

  .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    text-decoration: none;
    color: inherit;
    background-color: #e1e5e9;
  }
  .dropdown {
    display: inline-block;
    margin-right: 50px;
    & > a {
      color: #000;
      position: relative;

      &:after {
        content: '';
        display: block;
        height: 7px;
        width: 7px;
        border-top: 1px solid $accent-color;
        border-right: 1px solid $accent-color;
        position: absolute;
        top: 50%;
        right: -20px;
        margin-top: -6px;
        transform: rotateZ(135deg);
        transition: .3s ease;
      }
    }
    &.open a:after {
      margin-top: -3px;
      transform: rotateZ(315deg);
    }
  }
  &__callback {
    display: inline-block;
    .btn {
      width: 200px;
      letter-spacing: 1px;
    }
  }
}

.main-nav {
  float: right;
  width: 32%;
  &-item {
    display: inline-block;
    border-left: 1px solid #eaeaeb;
    height: 98px;
    vertical-align: middle;
    position: relative;
    margin:0 -3px;

    a {
      transition: .3s ease;
      display: block;
      height: 100%;
      position: relative;


      &:hover {
        background-color: #f0f3f6;
      }
    }

    .icon-font {
      color: #282832;
    }

    &:last-child {
      border-right: 1px solid #eaeaeb;
    }

    &__search {
      width: 200px;
      .search-label {
        font-size: 13px;
        color: #7d7e83;
        line-height: 98px;
        padding-left: 25px;
      }

      .icon-search {
        font-size: 33px;
        position: absolute;
        top: 50%;
        margin-top: -19px;
        right: 22px;
      }
    }

    &__sign {
      .icon-user {
        font-size: 35px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -19px;
        margin-left: -18px;
      }
    }
    &__cart {
      .icon-cart {
        font-size: 35px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -19px;
        margin-left: -18px;
      }
      .cart-goods-counter {
        position: absolute;
        top: 10px;
        right: 10px;
        background-color: #eaeaeb;
        display: inline-block;
        padding: 4px 6px;
        line-height: 1;
        font-family: $font-bold;
        font-size: 13px;
        &:after {
          content: "";
          width: 0;
          height: 0;
          border-bottom: 5px solid #c7c7cd;
          border-right: 5px solid transparent;
          position: absolute;
          bottom: 0;
          left: 0;

        }
      }
    }
  }
}

.main-nav-item__sign,
.main-nav-item__cart {
  width: 100px;
  a {
    position: relative;
    overflow: hidden;
  }
}

.tablet-navigate {
  display: none;
}

.site-header {
  transition: .3s ease;

  &.header-fixed {
    position: fixed;
    z-index: 300;
    top: -208px;
    left: 0;
    right: 0;

    &.change {
      top: 0;
    }

    .site-header-top,
    .main-mnu,
    .main-logo{
      display: none;
    }
    .site-header-menu__bottom {
      background-color: #dde1e4;
    }
    .site-header-menu__middle {
      position: absolute;
      top: 0;
      left: 270px;
      .container {
        width: 976px;
      }
      .main-connect {
        width: 51%;
        padding: 7px 0;
        margin-left: 40px;
        .btn--gray {
          background-color: #cbd0d4;
        }
      }
    }
    .main-nav-item {
      height: 60px;
    }
    .main-nav {
      position: absolute;
      top: 0;
      right: 0;
      width: 36%;
    }
    .main-nav-item__sign, .main-nav-item__cart {
      width: 80px;
    }
    .main-nav-item__search .search-label {
      line-height: 60px;
      padding-left: 20px;
    }
    .site-search.open {
      padding: 9px;
      border-bottom: 1px solid #eaeaeb;
    }

    .main-nav-item__signIn.dropdown .btn {
      background-color: #eaeaeb;
      &:hover {
        background-color: #eaeaeb;
      }
    }
    .main-nav-item__signIn.dropdown .btn:before {
      border-top-color: #282832;
      border-right-color: #282832;
    }
    .main-nav-item__signIn.dropdown .btn:after {
      border-bottom-color: #c7c7cd;
    }

  }
}

.site-search {
  position: absolute;
  top: 0;
  right: 2px;
  bottom: 0;
  width: 0;
  height: 100%;
  background-color: #fff;
  transition: .3s ease;
  &.open {
    border-left: 1px solid #eaeaeb;
    width: 788px;
    padding: 27px;

    form {
      opacity: 1;
      transition: opacity .8s ease-in-out;
    }
  }
  &__input {
    height: 42px;
    width: 100%;
  }

  &__btn-submit {
    position: absolute;
    top: 19px;
    right: 21px;
    display: none;

    .icon-font {
      color: $text-color !important;
    }
  }
  &__btn-reset {
    position: absolute;
    top: 12px;
    right: 9px;
  }

  form {

    opacity: 0;
  }
  fieldset {
    display: inline-block;
    width: 80%;
    position: relative;
  }
  &__submit {
    width: 130px;
    padding: 16px 0 13px;
    float: right;
  }
}

.search-trigger {
  z-index: 11;
  &.open {
    z-index: -1;
  }
}

.site-search__result {
  display: none;
  width: 80%;
  background-color: #fff;
  border: 1px solid #d0d5d9;
  position: relative;
  z-index: 203;
  tr td a:hover {
    background-color: #fff;
  }
  tr td a {
    width: auto;
  }
  .goods-prop__name {
    padding: 0;
    height: auto;
    font-size: 14px;
  }
    tr {
    vertical-align: middle;
  }
  &>tbody>tr {
    border-bottom: 1px solid #d0d5d9;
    &:last-child {
      border-bottom: 0;
      height: 65px;
      .bold-text {
        display: inline-block;
        border-bottom: 1px dashed $text-color;
        padding: 0;
        line-height: 1.2;
        margin-left: 10px;
        transition: .3s ease;
        &:hover {
          border-bottom-color: transparent;
        }
      }
    }
  }
  &>tbody>tr>td:first-child {
    width: 80px;
    a {
      padding: 10px;
      img {
        max-width: 100%;
        max-height: 100%;
      }
    }
  }
  &>tbody>tr>td:last-child {
    padding-left: 10px;
  }
}




//////////////////////////////////////////////////////////// desktop ////////////////////////////////////////////////
@media ($desktop) {
  .site-header-top {
    display: none;
  }
  .main-nav {
    width: 35%;
  }
  .main-nav-item__search {
    width: 190px;
  }
  .main-nav-item__sign, .main-nav-item__cart {
    width: 73px;
  }
  .main-connect .dropdown {
    margin-right: 0;
    width: 100%;
    line-height: 1.3;
  }
  .main-connect .dropdown-menu {
    max-width: 230px;
  }
  .main-connect__callback .btn.btn--gray {
    line-height: 1.2;
    width: auto;
    padding: 0;
    background-color: transparent;
    color: $accent-color;
    font-size: 11px;
    border-bottom: 1px dotted $accent-color;
  }
  .main-connect__callback {
    display: inline-block;
    position: relative;
    line-height: 1;
    top: -10px;
  }
  .main-connect {
    padding: 10px 0 0;
    font-size: 18px;
  }
  .for-desktop {
    display: none;
  }
  .main-drop-mnu .for-tablet {
    display: inline;
  }
  .main-mnu {
    display: none;
  }
  .main-drop-mnu {
    width: 100%;

    &:hover {
      .main-drop-mnu__item {
        display: none;
        opacity: 0;
      }
      &>a {
        background-color: $accent-color;
      }
    }

    &>a {
      background-color: $accent-color;
      text-align: center;
      padding-left: 0;
      .burger-menu {
        left: 0;
      }
    }
  }
  .main-drop-mnu__item {
    width: 50%;
    z-index: 200;
    background-color: #d15411;
  }
  .main-drop-mnu__item > ul > li {
    width: 100%;
  }
  .main-drop-mnu__item--title {
    display: block;
  }
  .main-drop-mnu__item .has-child:hover .level-two {
   display: none;
  }
  .main-drop-mnu__item--tabletSubMenu {
    display: block;
  }
  .main-drop-mnu > a.active, .main-drop-mnu > a:hover {
    background-color: $accent-color;
  }
  .menu-blur {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000;
    opacity: .3;
    z-index: 200;
    cursor: pointer;
  }
  .main-menu-open {
    .site-header {
      z-index: 201;
      position: relative;
    }
    .site-header-menu__middle {
      background-color: #fff;
    }
  }
  .main-drop-mnu__item .level-two {
    display: none;
    position: absolute;
    z-index: 202;
    top: 0;
    left: -999px;
    width: 100%;
    height: auto;
    min-height: 100%;
    padding: 15px 20px;
    color: #fff;
    background-color: #d15411;

  }
  .main-drop-mnu__item .level-two__item--list {
    display: none;
    position: absolute;
    top: 0;
    left: -999px;
    background-color: #d15411;
    height: auto;
    min-height: 100%;
    width: 100%;
    padding: 15px 20px;
    z-index: 203;
  }
  .main-drop-mnu__item .level-two__item--list > li a:hover {
    color: #fff;
  }
  .main-drop-mnu__item .level-two__item--title > img {
    display: none;
  }
  .main-drop-mnu__item .level-two__item {
    display: block;
    max-width: 100%;
    font-size: 13px;
    color: #fff;
    margin-bottom: 9px;
  }
  .tablet-navigate {
    display: block;
    &__back {
      .btn {
        border: 1px solid #df895b;
        font-family: $font-light;
        font-size: 15px;
        color: #fff;
        text-transform: none;
        position: relative;
        padding: 10px;
        width: 175px;

        &>span {
          display: inline-block;
          &:before {
            content: '';
            display: block;
            width: 8px;
            height: 8px;
            border-left: 1px solid #fff;
            border-bottom: 1px solid #fff;
            transform: rotateZ(45deg);
            position: absolute;
            top: 18px;
            left: 25px;
          }
        }
      }
    }
    &__title {
      font-size: 16px;
      font-family: $font-bold;
      color: #fff;
      padding: 15px 0 10px;
    }
  }

  .main-drop-mnu__item .level-two__item--title {
    font-family: $font-light;
    font-size: 13px;
  }
  .main-drop-mnu__item .level-two__item--title > span {
    max-width: 100%;
  }
  .main-drop-mnu__item .level-two__item--title:hover > span {
    color: #fff;
    text-decoration: underline;
  }
  .has-child {
    .level-two__item--title {
      position: relative;
      padding-right: 35px;
      display: block;
      &:after {
        content: '';
        display: block;
        width: 7px;
        height: 7px;
        border-top: 1px solid #fff;
        border-right: 1px solid #fff;
        transform: rotateZ(45deg);
        position: absolute;
        top: 50%;
        right: 0 !important;
        margin-top: -3px;
      }
    }
  }
  .level-two__item {
    .level-two__item--title {
      &:after {
        content: none;
      }
    }
  }

  .site-header.header-fixed {
    .site-header-menu__middle .container {
      width: 800px;
    }
  }


}

@media ($tablet) {


}

@media ($mobile) {
  .main-connect .icon-smartphone {
    display: block;
  }
  .main-drop-mnu__item {
    width: auto;
    left: -15px;
    right: -17px;
  }
  .site-header-menu__middle.search {
    &+.site-header-menu__bottom {
      z-index: 201;
    }
  }
  .site-search.open {
    top: 60px;
  }
  .main-drop-mnu > a {
    width: 50px;
  }
  .site-search__result {
    width: 100%;
  }
  .site-search__submit {
   display: none;
  }
  .site-search__btn-submit {
   display: block;
  }
  .site-search__btn-reset {
    display: none;
  }
  .site-search fieldset {
    width: 100%;
  }
}










