.top-slider {
  .slick-slide {
    background-position: 50% 50%;
  }
  &__item {
    height: 500px;
    padding-top: 7%;
    position: relative;

    .subImage {
      position: absolute;
      top: 0;
      right: -80px;
    }

    &--title {
      font-size: 38px;
      font-family: $font-light;
      background-color: #282832;
      color: #fff;
      display: inline-block;
      line-height: 1.158;
      padding: 30px;
      letter-spacing: 4px;
      margin-bottom: 30px;
    }

    &--text {
      max-width: 500px;
      margin-left: 35px;
      font-size: 15px;
      margin-bottom: 25px;
    }

    &--link {
      font-size: 12px;
      color: #404046;
      border: 1px solid #9b9ba6;
      width: 230px;
      padding: 12px 0 10px;
      margin-left: 35px;
    }
  }
  .slick-arrow {
    position: absolute;
    top: 50%;
    margin-top: -47px;
    border-top: 1px solid #363740;
    border-right: 1px solid #363740;
    height: 30px;
    width: 30px;
    &.slick-next {
      right: 10px;
    }
    &.slick-prev {
      left: 10px;
    }
  }
  .slick-dots {
    text-align: center;
    padding: 15px 0;
    li {
      display: inline-block;
      margin: 0 5px;
      button {
        border: 1px solid #d4d4d4;
        border-radius: 50%;
        background: #fff;
        color: transparent;
        transition: .3s ease;
        overflow: hidden;
        width: 11px;
        height: 11px;
      }
      &.slick-active button {
        border-color: $accent-color;
        background-color: $accent-color;
      }
    }
  }
}

.remedies {
  margin-bottom: 60px;
  &-list {
    border-right: 1px solid #e5e5e7;
    border-bottom: 1px solid #e5e5e7;
    font-family: $font-normal;
    font-size: 15px;
  }
  &-item {
    display: inline-block;
    margin: 0 -2px;
    width: 16.6666%;
    text-align: center;
    vertical-align: top;
    height: 200px;
    border-top: 1px solid #e5e5e7;
    border-left: 1px solid #e5e5e7;
    span {
      display: block;
      line-height: 1.4;
    }
    a {
      display: block;
      height: 100%;
      transition: .3s ease;
      position: relative;
      &:after {
        content: '';
        display: block;
        border: 1px solid transparent;
        position: absolute;
        top: -1px;
        left: -1px;
        right: -1px;
        bottom: -1px;
        transition: .3s ease;
        z-index: 1;
      }

      &:hover {
        color: $accent-color;
        &:after {
          border-color: $accent-color;
        }
      }
    }
    &__image {
      height: 145px;
      position: relative;
      object {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        margin: auto;
      }
    }
  }
}

@media ($desktop) {
  .remedies-item {
    width: 25%;
  }
}
@media ($tablet) {
  .remedies-item {
    height: 170px;
    font-size: 14px;
  }
  .remedies-item__image {
    height: 120px;
    position: relative;
  }
}
@media ($mobile) {
  .remedies-item {
    width: 50%;
    height: 43vw;
    font-size: 13px;
  }
  .remedies-item__image {
    height: 33vw;
    position: relative;
  }
  .remedies-item span {
    line-height: 1;
  }
}

.block-with-back {
  background-color: $background-block-color;
  padding: 45px 0 60px;

  &__title {
    .block-title {
      margin-bottom: 10px;
    }
    margin-bottom: 35px;
  }
}

.goods {
  background-color: #fff;
}

.goods-prop {
  text-align: center;
  padding: 29px 40px;
  &__name {
    font-family: $font-bold;
    font-size: 15px;
  }
}

.goods-price {
  font-family: $font-regular;
  &__old {
    color: #8a9298;
    margin-right: 10px ;
  }
  &__current {
    color: $accent-color;
  }
}

.goods-show-more {
  .btn {
    display: block;
    color: #404046;
    border: 1px solid #d0d5d9;
    padding: 16px 16px 15px;

  }
}

.four-item-slider {
  .goods {
    display: inline-block;
    margin: 0 -2px;
  }
}





