.product{
  margin-top: -40px;
}
.product-slider-block {
  height: 100%;
  background-color: #ebeff2;
  padding: 35px 35px 35px 0;
  position: relative;
  &:before {
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #ebeff2;
    width: 9999px;
    z-index: -1;
  }
}

.product-slider-wrapper {

}

.product-slider-top {
  border: 1px solid #d6dbdf;
  overflow: hidden;

  &__item {
    height: 470px;
    position: relative;
    background-color: #fff;
    img {
      display: inline;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      max-width: 94%;
      max-height: 94%;
    }
  }
}

.product-slider-bottom {
  width: 101%;
  margin-left: -4px;
  margin-top: 5px;
  &__item {
    height: 110px;
    padding: 14px;
    background-color: #fff;
    margin-right: 5px;
    margin-left: 5px;
    border: 1px solid transparent;
    margin-top: 6px;
    position: relative;
    transition: .3s ease;
    text-align: center;

    &:after {
      content: "";
      display: block;
      width: 6px;
      height: 6px;
      background-color: transparent;
      z-index: 1;
      border-top: 1px solid transparent;
      border-right: 1px solid transparent;
      transform: rotateZ(-45deg) translateX(-50%);
      position: absolute;
      top: -6px;
      left: 50%;
      transition: .3s ease;

    }

    img {
      display: inline;
      max-width: 100%;
      max-height: 100%;
      vertical-align: middle;
    }
  }
  .slick-current {
    .product-slider-bottom__item {
      border-color: $accent-color;
      &:after {
        border-color: $accent-color;
        background-color: #fff;
      }
    }
  }
  .slick-arrow {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 50%;
    margin-top: -15px;
    &:after {
      width: 20px;
      height: 20px;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      padding: 0;
    }
    &.slick-next{
      right: 1px;
    }
    &.slick-prev{
      left: 5px;
    }
  }
}

.product-left-block {
  padding: 0 35px;
  position: relative;
  margin-top: 35px;
  margin-bottom: 35px;
  &:after {
    content: '';
    display: block;
    height: 100%;
    width: 1px;
    background-color: #cfd6db;
    position: absolute;
    top: 0;
    right: -1px;
  }

  .goods-price {
    margin-bottom: 0;
    padding: 0 ;
  }
  .goods-price__current {
    font-size: 26px;
    color: $text-color;
    margin-right: 20px;
  }
  .goods-price__old {
    font-size: 18px;
  }
  .goods-show-more {
    padding: 0;
  }
  .goods-count-block fieldset {
    background-color: #fff;
  }
  .paragraph-gray {
    margin-bottom: 10px;
  }
  .goods-size__list {
    margin-bottom: 10px;
    margin-top: 7px;
  }
  .goods-size__list li a {
    padding: 8px 16px;
  }
  .goods-size__list li {
    margin-right: 2px;
  }
  .goods-color__list li {
    margin-right: 2px;
    height: 40px;
    width: 40px;
  }
  .goods-color__list {
    margin-bottom: 20px;
  }
  .goods-count-block fieldset {
    height: 45px;
  }
  .goods-count-block {
    margin-bottom: 15px;
  }
  .goods-order-btn {
    .btn-md {
      padding: 20px 20px 18px;
    }
  }
  .goods-count-block fieldset .btn {
    font-size: 30px;
  }


}

.product-right-block {
  padding: 0 35px;
  margin-top: 35px;
  margin-bottom: 35px;
}

.product-label {
  font-family: $font-bold;
  font-size: 16px;
  margin-bottom: 10px;
}

.product-protect-property {
  border-bottom: 1px solid #cfd6db;
  padding-bottom: 20px;
  margin-bottom: 20px;
  li {
    background-color: #ebeff2;
    border: 1px solid #cfd6db;
    width: 50px;
    height: 50px;
    vertical-align: top;
    position: relative;
    margin-right: 5px;
    margin-bottom: 6px;
    &:nth-child(4n+4){
      margin-right: 0;
    }
    a {
      display: block;
      height: 100%;
      object {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
      }
    }
  }
}

.product-help-link {
  display: block;
  padding: 19px 0 15px;
  color: #404046;
  font-size: 12px;
  text-align: center;
  line-height: 1.3;
  border: 1px solid #000;
  transition: .3s ease;
  margin: 30px 0;
  max-width: 230px;
  &:hover {
    border-color: $accent-color;
  }
  .btn {
    font-size: 12px;
  }
}


.product-help-text {
  font-size: 13px;
  padding-right: 20px;
  line-height: 1.6;
}

.product-help-tel {
  font-size: 13px;
  border-bottom: 1px solid #cfd6db;
  padding-bottom: 25px;
  margin-bottom: 25px;
}

.product-other-property {
  li {
    margin-bottom: 5px;
  }
  font-size: 13px;
  a {
    color: $accent-color;
    display: inline-block;
    border-bottom: 1px solid #fad9c8;
    line-height: 1;
    transition: .3s ease;
    &:hover {
      border-color: transparent;
    }
  }
}

.product-gray-bg-block {
  background-color: #ebeff2;
  padding: 15px 30px 30px 30px;
}

.product-underline-block {
  position: relative;
  &:before {
    content: '';
    display: block;
    border-bottom: 1px solid #cfd6db;
    position: absolute;
    bottom: 0;
    left: 35px;
    right: 0;
  }
}

.product-tabs {

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 2px;
    margin-left: 2px;



    &--title {
      flex-grow: 1;
      text-align: center;
      height: 52px;

      a {
        font-family: $font-bold;
        font-size: 15px;
        color: #fff;
        background-color: $text-color;
        display: block;
        height: 100%;
        padding-top: 13px;
        position: relative;
        transition: .3s ease;

        &:after {
          content: "";
          display: block;
          height: 100%;
          width: 1px;
          background-color: #44444d;
          position: absolute;
          top: 0;
          right: 3px;
          z-index: 1;


        }
        &:hover {
          background-color: #44444d;
        }
      }
      &:last-child {
        a:after {
          content: none;
        }
      }

    }
  }
}

.tabs-content-wrapper {
  border: 1px solid #d0d5d9;
  float: left;
  width: 100%;
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  .left {
    border-right: 1px solid #d0d5d9;
  }
}

.product-tabs__content {
  //border: 1px solid #d0d5d9;
  //margin-bottom: 60px;
  //min-height: 360px;

  &--title {
    font-size: 18px;
    font-family: $font-bold;
    background-color: #ebeff2;
    border-bottom: 1px solid #d0d5d9;
    padding: 10px 20px 8px;
  }

  &--text {
    padding: 20px 20px 18px;
    .not-num-list > li {
      margin-bottom: 5px;
    }
    .not-num-list {
      margin-bottom: 0;
    }
  }
}

.product-container-top {
  margin-bottom: 50px;
}