.top-slider {
  .slick-slide {
    background-position: 50% 50%;
  }
  &__item {
    height: 500px;
    padding-top: 7%;
    position: relative;

    .subImage {
      position: absolute;
      top: 0;
      right: -80px;
    }

    &--title {
      font-size: 38px;
      font-family: $font-light;
      background-color: #282832;
      color: #fff;
      display: inline-block;
      line-height: 1.158;
      padding: 30px;
      letter-spacing: 4px;
      margin-bottom: 30px;
    }

    &--text {
      max-width: 500px;
      margin-left: 35px;
      font-size: 15px;
      margin-bottom: 25px;
    }

    &--link {
      font-size: 12px;
      color: #404046;
      border: 1px solid #9b9ba6;
      width: 230px;
      padding: 12px 0 10px;
      margin-left: 35px;
    }
  }
  .slick-arrow {
    position: absolute;
    top: 50%;
    margin-top: -47px;
    border-top: 1px solid #363740;
    border-right: 1px solid #363740;
    height: 30px;
    width: 30px;
    &.slick-next {
      right: 10px;
    }
    &.slick-prev {
      left: 10px;
    }
  }
  .slick-dots {
    text-align: center;
    padding: 15px 0;
    li {
      display: inline-block;
      margin: 0 5px;
      button {
        border: 1px solid #d4d4d4;
        border-radius: 50%;
        background: #fff;
        color: transparent;
        transition: .3s ease;
        overflow: hidden;
        width: 11px;
        height: 11px;
      }
      &.slick-active button {
        border-color: $accent-color;
        background-color: $accent-color;
      }
    }
  }
}






