.btn {
  border: 0;
  background: transparent;
  color: inherit;
  font-family: $font-bold;
  text-transform: uppercase;
  font-size: 12px;
  text-align: center;
  position: relative;
  display: inline-block;
  transition: .3s ease;
}

.btn-md {
  padding: 15px 15px 12px;
}

.btn--gray {
  color: #404046;
  background-color: #d6dde1;
  &:hover {
    background-color: #dfe1e7;
  }
}

.btn--accent {
   color: #fff;
   background-color: $accent-color;
}

.btn-md--white-border {
  border: 1px solid #fff;
  padding: 15px 15px 13px;
}

.list-inline li{
  display: inline-block;
  margin: -2px 0;
}

.slick-arrow {
  z-index: 1;
  color: transparent;
  background: none;
  border-top: 1px solid #363740;
  border-right: 1px solid #363740;
  border-bottom: 0;
  border-left: 0;
  &.slick-next {
    transform: rotateZ(45deg);
  }
  &.slick-prev {
    transform: rotateZ(225deg);
  }
}